
; Modifying this file:
; You should not modify this file except to make bugfixes or
; for other "maintenance".  If you want to make custom changes,
; you should create a new datadir subdirectory and copy this file
; into that directory, and then modify that copy.  Then use the
; command "rulesetdir <mysubdir>" in the server to have freeciv
; use your new customized file.

; Note that the freeciv AI may not cope well with anything more
; than minor changes.

[datafile]
description="Classic buildings data for Freeciv"
options="+Freeciv-ruleset-Devel-2017.Jan.02"
format_version=20

; /* <-- avoid gettext warnings
;
; Below: The individual buildings, one per section.
; (Buildings = City Improvements and Wonders)
;
; The actual tag used (the * in [building_*]) does not matter, except 
; it must be unique within this file, and it may be used in debug 
; output when reading this file.
;
; Notes:
;
; name          = translatable name as seen by user
; rule_name     = (optional) internal name for savegames, rulesets etc; if
;                 not present, "name" is used for this purpose too. Since
;                 the name used in savegames must not change, if you want
;                 to rename an item after a ruleset has been released, you
;                 should set "rule_name" to the original value of "name".
; genus	        = genus; one of:
;                 "GreatWonder", "SmallWonder", "Improvement", "Special".
; reqs		= requirements to build the building (see effects.ruleset
;		  and README.effects for help on requirements)
; graphic	= icon of improvement (used in city dialog)
; graphic_alt	= alternate icon of improvement
; obsolete_by	= requirements for the building to become obsolete
; build_cost	= production shields required to build
; upkeep	= monetary upkeep value
; sabotage	= percent chance of diplomat sabotage being successful
; flags         = special flag strings
;
; ** Building flags **
; "VisibleByOthers"  = Anyone who can see your city knows whether it has
;                      this improvement. (Great and small wonders are
;                      always visible.)
; "SaveSmallWonder"  = If you lose the city with this building in, and the
;                      "savepalace" server setting is enabled, another will
;                      be built for free in a random city.
;                      Should only be used with genus "SmallWonder".
; "Gold"             = Not a real building; production turned into gold
;                      indefinitely (capitalization/coinage).
;                      Genus should be "Special".
;
; */ <-- avoid gettext warnings

; *Buildings*

; **Administrative**

[building_hq]
name		= _("HQ")
genus		= "SmallWonder"
flags		= "SaveSmallWonder"
; No reqs
graphic	= "b.palace"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 70
upkeep		= 0
sabotage	= 0
sound		= "b_palace"
sound_alt	= "b_generic"
helptext	= _("\
Makes a city the capital and the center of your government.\
 Corruption in other cities is related to how far away from the\
 capital they are, except when the government is Democracy. \
 On top of this, corruption in your capital itself is\
 half of what it would otherwise be (as if it had an FAA Branch).\
"), _("\
Take good care of your capital, as its loss may result in your\
 empire plunging into civil war.\
"), _("\
If the capital is in a dangerous location, or a more central capital\
 would give a better corruption distribution, you can move your HQ\
 by rebuilding it in another city.\
"), _("\
The operational headquarters of an air force is usually located in\
 close proximity to the government ministries of aviation and war. \
 Branch headquarters, such as the commanders of bombing and fighting\
 commands, may be located elsewhere, but all report to this centre.\
")

[building_faa]
name		= _("FAA Branch")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "General Aviation", "Player"
    }
graphic	= "b.courthouse"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 60
upkeep		= 1
sabotage	= 100
sound		= "b_courthouse"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Reduces the corruption in a city by 50%, and makes the revolt cost\
 of the city 4 times bigger. (These effects are redundant in your\
 capital city.)\
"), _("\
Under Constitutional Monarchy or Democracy, an FAA Branch also makes\
 1 unhappy citizen content (unless that citizen is unhappy about
 military activity).\
"), _("\
Regulatory agencies such as the Federal Aviation Administration (US)\
 and Civil Aviation Authority (UK) are responsible for ensuring that\
 private and commercial aircraft within their jurisdiction are\
 airworthy, safely operated, and properly licenced. \
 By providing regional offices, these agencies can respond more\
 quickly to applications, thus smoothing and streamlining the civil\
 aviation industry in each locality.\
")

[building_radar]
name		= _("Radar Station")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "R.D.F.", "Player"
    }
graphic	= "b.radar"
graphic_alt	= "b.eiffel_tower"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 60
upkeep		= 1
sabotage	= 100
sound		= "b_sdi_defense"
sound_alt	= "b_generic"
helptext	= _("\
Extends city view distance to 4 tiles.\
"), _("\
Early warning radar installations allow air defence systems to\
 detect the approach, and track the progress, of enemy aircraft,\
 allowing their interception by friendly air assets.  Among the\
 first such stations were the British AMES Type 1 and the German\
 Freya.\
")

[building_tramways]
name		= _("Tramways")
genus		= "Improvement"
reqs	=
    { "type", "name", "range"
      "Tech", "Mass Production", "Player"
    }
graphic	= "b.mass_transit"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 60
upkeep		= 2
sabotage	= 100
sound		= "b_mass_transit"
sound_alt	= "b_generic"
helptext	= _("\
Neutralizes the pollution generated by the population. \
 The population simply has no effect on the pollution generated in\
 the city.\
"), _("\
Running on grooved steel rails embedded in city streets, trams are\
 one of many approaches to providing urban mass transit.  The lower\
 rolling resistance of metal wheels on rails makes them more energy-\
efficient than buses, while the sharing of roads leads to lower\
 infrastructure costs than separate or underground railways.\
")

[building_recruiter]
name		= _("Recruiting Office")
genus		= "Improvement"
reqs	=
    { "type", "name", "range"
      "Tech", "Aerial Weapons", "Player"
    }
graphic	= "b.police_station"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 50
upkeep		= 1
sabotage	= 100
sound		= "b_police_station"
sound_alt	= "b_generic"
helptext	= _("\
Saves up to two shields of unit upkeep per turn. \
 This improvement has no effect during a Revolution, or under\
 governments that pay unit upkeep in gold.\
"), _("\
By encouraging citizens to volunteer for military service through\
 a mixture of outreach, advertising, and youth organisations\
 (cadet corps), nations are able to reduce the costs of military\
 manpower.  During times of war, propaganda is also effective at\
 exhorting civilians to greater production of materiel in support\
 of the war effort.\
")

; **Research**

[building_aero_lib]
name		= _("Aeronautical Library")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Powered Flight", "Player"
    }
graphic	= "b.aero_lib"
graphic_alt	= "b.library"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 30
upkeep		= 1
sabotage	= 100
sound		= "b_library"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the science output in a city by 35%.\
")

[building_wind_tunnel]
name		= _("Wind Tunnel")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Aerodynamics Research", "Player"
    }
graphic	= "b.wind_tunnel"
graphic_alt	= "b.library"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 50
upkeep		= 1
sabotage	= 100
sound		= "b_library"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the science output in a city by 35%\
 (cumulative with Aeronautical Library).\
")

; **Revenue**

[building_moormast]
name		= _("Mooring Mast")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Effective Airships", "Player"
    }
graphic	= "b.moormast"
graphic_alt	= "b.airport"
obsolete_by	=
    { "type", "name", "range"
      "Tech", "Airlift 1935", "World"
    }
build_cost	= 20
upkeep		= 0
sabotage	= 100
sound		= "b_airport"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Allows the construction of Zeppelin Liners (for\
 creating trade routes), and allows the city to\
 have a second trade route.\
")

[building_airstrip]
name		= _("Commercial Airstrip")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Twenties Airlift", "Player"
    }
graphic	= "b.windsock"
graphic_alt	= "b.airport"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 40
upkeep		= 1
sabotage	= 100
sound		= "b_airport"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the tax output in a city by 50%. \
 Also, allows the construction of Airliners\
 (for creating trade routes), and allows the\
 city to have a second trade route.\
")

[building_airport]
name		= _("Hub Airport")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Fifties Airlift", "Player"
      "Building", "Commercial Airstrip", "City"
    }
graphic	= "b.airport"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 80
upkeep		= 2
sabotage	= 100
sound		= "b_airport"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the tax output in a city by 50% (cumulative with\
 Commercial Airstrip).\
"), _("\
Also, allows the city to have one additional trade route.\
")

[building_export]
name		= _("Export")
genus		= "Special"
flags		= "Gold"
reqs	=
    { "type", "name", "range"

    }
graphic	= "b.capitalization"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 999
upkeep		= 0
sabotage	= 0
helptext	= _("\
This is not a normal improvement.  Instead, setting a city's\
 production to Export means its shield production is\
 converted to tax output.\
")

; **Luxury**

[building_balloon_rides]
name		= _("Balloon Rides")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Dirigible Balloons", "Player"
    }
graphic	= "a.flight"
graphic_alt	= "b.temple"
obsolete_by	=
    { "type", "name", "range"
      "Tech", "General Aviation", "Player"
    }
build_cost	= 25
upkeep		= 1
sabotage	= 100
sound		= "b_temple"
sound_alt	= "b_generic"
helptext	= _("\
Adds 3 to the luxury output of a city.\
")

[building_delag]
name		= _("Airship Company")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Zeppelin", "Player"
    }
graphic	= "b.delag"
graphic_alt	= "b.temple"
obsolete_by	=
    { "type", "name", "range"
      "Tech", "General Aviation", "Player"
    }
build_cost	= 20
upkeep		= 1
sabotage	= 100
sound		= "b_temple"
sound_alt	= "b_generic"
helptext	= _("\
Increases the luxury output in a city by 35%.\
")

[building_club]
name		= _("Flying Club")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Practical Aviation", "Player"
    }
graphic	= "b.flying_club"
graphic_alt	= "b.temple"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 30
upkeep		= 1
sabotage	= 100
sound		= "b_temple"
sound_alt	= "b_generic"
helptext	= _("\
Makes one unhappy citizen content.  The General Aviation advance\
 doubles this effect.  Does not affect citizens made unhappy by\
 military activity.\
")

[building_tours]
name		= _("Air Tours")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "General Aviation", "Player"
    }
graphic	= "b.marketplace"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 40
upkeep		= 1
sabotage	= 100
sound		= "b_marketplace"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the luxury output in a city by 50%.\
")

[building_agent]
name		= _("Travel Agent")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Airlift 1935", "Player"
      "Building", "Air Tours", "City"
    }
graphic	= "b.stock_exchange"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 80
upkeep		= 1
sabotage	= 100
sound		= "b_marketplace"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the luxury output in a city by 50%, cumulative with\
 Air Tours.\
")

[building_races]
name		= _("Air Races")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Twenties Seaplanes", "Player"
    }
graphic	= "b.colosseum"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 70
upkeep		= 2
sabotage	= 100
sound		= "b_colosseum"
sound_alt	= "b_generic"
helptext	= _("\
Entertains the citizens of a city, making 2 unhappy citizens content. \
 However, it does not affect citizens made unhappy by military activity.\
")

[building_memo]
name		= _("War Memorial")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Bombers 1917", "Player"
    }
graphic	= "b.cenotaph"
graphic_alt	= "b.cathedral"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 50
upkeep		= 1
sabotage	= 100
sound		= "b_cathedral"
sound_alt	= "b_generic"
helptext	= _("\
Reduces the unhappiness caused by aggressively deployed military\
 units owned by the city by 1 under Constitutional Monarchy or Democracy\
 -- in other words, it neutralizes the unhappiness caused by a single\
 military unit. This improvement has no effect under other governments.\
")

; **Training, Repair**

[building_barracks]
name		= _("Barracks")
genus		= "Improvement"
; no reqs
graphic	= "b.barracks_i"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 30
upkeep		= 1
sabotage	= 100
sound		= "b_barracks_i"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
With a Barracks, each new land (or assault) unit built in a city will\
 automatically have Veteran status, which means that its attack and\
 defense strengths are increased by 50%.  Also, damaged land (or
 assault) units which stay in town for one full turn without moving\
 are completely restored.\
")

[building_shipyard]
name		= _("Shipyard")
genus		= "Improvement"
reqs	=
    { "type", "name", "range"
      "TerrainClass", "Oceanic", "Adjacent"
    }
graphic	= "b.port_facility"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 60
upkeep		= 1
sabotage	= 100
sound		= "b_port_facility"
sound_alt	= "b_generic"
helptext	= _("\
Allows a city to build veteran sea units.  Also, damaged sea units\
 which stay in town for one full turn without moving are completely\
 restored.\
")

[building_school]
name		= _("Flying School")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Passenger Carrying", "Player"
    }
graphic	= "b.library"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 60
upkeep		= 1
sabotage	= 100
sound		= "b_library"
sound_alt	= "b_generic"
helptext	= _("\
Air, Seaplane and Carrier-borne units produced in the city\
 will be Veteran.\
")

[building_repair]
name		= _("Repair Sheds")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Aircraft Industry", "Player"
    }
graphic	= "b.sheds"
graphic_alt	= "b.port_facility"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 60
upkeep		= 2
sabotage	= 100
sound		= "b_port_facility"
sound_alt	= "b_generic"
helptext	= _("\
Air and Carrier-borne units spending their turn in the city\
 will be restored to full health.\
")

[building_slipway]
name		= _("Aircraft Slipways")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Military Seaplanes", "Player"
      "TerrainClass", "Oceanic", "Adjacent"
    }
graphic	= "b.port_facility"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 45
upkeep		= 2
sabotage	= 100
sound		= "b_port_facility"
sound_alt	= "b_generic"
helptext	= _("\
Seaplane units spending their turn in the city\
 will be restored to full health.\
")

; **Tile-working**

[building_dusting]
name		= _("Crop Dusting")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "General Aviation", "Player"
    }
graphic	= "b.supermarket"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 60
upkeep		= 2
sabotage	= 100
sound		= "b_supermarket"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the food resources by 50% on each farmland tile which\
 is being used around the city.  Farmland tiles are those which\
 have been irrigated a second time.\
")

[building_waterbomb]
name		= _("Waterbombers")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Heavy Airlift", "Player"
    }
graphic	= "b.hydro_plant"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 50
upkeep		= 1
sabotage	= 100
sound		= "b_hydro_plant"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Each forest tile being worked by the city produces one\
 additional Trade and Shield.\
")

[building_marshalling]
name		= _("Marshalling Yard")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Mass Production", "Player"
      "MinSize", "7", "City"
    }
graphic	= "-"
graphic_alt	= "a.railroad"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 90
upkeep		= 2
sabotage	= 100
sound		= "b_super_highways"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
All tiles with railways produce one extra Trade.\
")

; **Manufacturing**

[building_lumber_yard]
name		= _("Lumber Yard")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
    }
graphic	= "b.power_plant"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
      "Building", "Engine Factory", "City"
      "Building", "Aircraft Factory", "City"
    }
build_cost	= 60
upkeep		= 1
sabotage	= 100
sound		= "b_power_plant"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the shield production in a city by 25%.  This increase may\
 also contribute to pollution.\
")

[building_engine_factory]
name		= _("Engine Factory")
genus		= "Improvement"
reqs =
    { "type", "name", "range"
      "Tech", "Mass Production", "Player"
    }
graphic	= "b.factory"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 100
upkeep		= 3
sabotage	= 100
sound		= "b_factory"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the shield production in a city by 50%.  This increase may\
 also contribute significantly to pollution.\
")

[building_aircraft_factory]
name		= _("Aircraft Factory")
genus		= "Improvement"
reqs	=
    { "type", "name", "range"
      "Tech", "Military-Industrial Complex", "Player"
      "Building", "Engine Factory", "City"
    }
graphic	= "b.mfg_plant"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 160
upkeep		= 4
sabotage	= 100
sound		= "b_mfg_plant"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Together with an Engine Factory, an Aircraft Factory increases the\
 shield production in a city by 100%. An Aircraft Factory on its\
 own increases shield production by 50%.\
")

[building_electrification]
name		= _("Electrification")
genus		= "Improvement"
reqs	=
    { "type", "name", "range"
      "Tech", "Electronics 1935", "Player"
    }
graphic	= "b.recycling_center"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 140
upkeep		= 2
sabotage	= 100
sound		= "b_recycling_center"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Electrification of a city's industry reduces the amount of pollution\
 generated by production by 50%.\
")

; **Defensive**

[building_barrage_balloons]
name		= _("Barrage Balloons")
genus		= "Improvement"
reqs	=
    { "type", "name", "range"
      "Tech", "Early Blimp", "Player"
    }
graphic	= "b.barrage"
graphic_alt	= "b.coastal_defense"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 20
upkeep		= 1
sabotage	= 100
sound		= "b_coastal_defense"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the defense of all units inside the city by 40%\
 when attacked by dive-bombers.\
")

[building_flak_battery]
name		= _("Flak Battery")
genus		= "Improvement"
reqs	=
    { "type", "name", "range"
      "Tech", "Anti-Air Artillery", "Player"
    }
graphic	= "b.coastal_defense"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 30
upkeep		= 1
sabotage	= 100
sound		= "b_coastal_defense"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the defense of all units inside the city by 20% (after\
 Proximity Fuse, 50%) when attacked by aircraft.\
")

[building_sam_battery]
name		= _("SAM Battery")
genus		= "Improvement"
reqs	=
    { "type", "name", "range"
      "Tech", "Early Missiles", "Player"
    }
graphic	= "b.sam_battery"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 90
upkeep		= 2
sabotage	= 100
sound		= "b_sam_battery"
sound_alt	= "b_generic"
helptext	= _("\
Doubles the defense of all units inside the city when attacked by\
 aircraft.  Overrides the effects of Flak Battery and Barrage\
 Balloons.\
")

[building_sector_control]
name		= _("Sector Control")
genus		= "Improvement"
reqs	=
    { "type", "name", "range"
      "Tech", "Tracking Radar", "Player"
    }
graphic	= "b.research_lab"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 80
upkeep		= 2
sabotage	= 100
sound		= "b_research_lab"
sound_alt	= "b_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Should give an attack bonus to aircraft, but Freeciv 2.6 doesn't\
 support that.  Thus, this building does nothing.\
")

; *Wonders*

; **Defensive**
[building_dowding]
name		= _("Dowding System")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Tracking Radar", "Player"
    }
graphic	= "b.colossus"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 300
upkeep		= 0
sabotage	= 0
sound		= "w_colossus"
sound_alt	= "w_generic"
helptext	= _("\
Acts as a Sector Control in every city on the same continent. \
 Unfortunately, the Sector Control doesn't do anything, so\
 neither does this.\
")

[building_chain_home]
name		= _("Chain Home")
genus		= "SmallWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "R.D.F.", "Player"
    }
graphic	= "b.chain_home"
graphic_alt	= "b.eiffel_tower"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 200
upkeep		= 3
sabotage	= 0
sound		= "w_eiffel_tower"
sound_alt	= "w_generic"
helptext	= _("\
Acts as a Radar Station in every city on the same continent.\
"), _("\
The British 'Chain Home' radar system was one of the first\
 R.D.F. networks in the world, and gave the RAF a massive\
 advantage in the Battle of Britain by eliminating the need\
 for standing patrols.\
")

[building_icao]
name		= _("ICAO")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Heavy Airlift", "Player"
    }
graphic	= "b.united_nations"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 150
upkeep		= 1
sabotage	= 0
sound		= "w_united_nations"
sound_alt	= "w_generic"
helptext	= _("\
After this wonder is built, all cities on the map are continuously\
 visible to its owner despite fog-of-war.\
"), _("\
Also, all cities, regardless of owner, may operate one additional\
 trade route.\
"), _("\
The International Civil Aviation Organization is the global\
 coordinating and standardisation body for international air\
 transport.  One of its many functions is to assign four-letter\
 airport codes to aerodromes and other aviation facilities.\
")

[building_spy_sats]
name		= _("Spy Satellites")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Space Flight", "Player"
    }
graphic	= "b.sdi_defense"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 300
upkeep		= 2
sabotage	= 0
sound		= "b_space_component"
sound_alt	= "w_generic"
helptext	= _("\
The entire map becomes permanently visible -- the player always has\
 up-to-date knowledge of all terrain and cities (but not units)\
 despite fog-of-war.\
"), _("\
Photographic reconnaissance and electronic intelligence (ELINT) were\
 among the first applications of artificial Earth satellites. \
 These 'eyes in the sky', such as the CORONA and HEXAGON programs,\
 allowed technologically advanced nations to observe goings-on\
 anywhere in the world. \
 However, while strategically valuable, satellite imagery is still\
 no substitute for close-in tactical recon cover.\
")

; **Military

[building_staff_college]
name		= _("War College")
genus		= "GreatWonder"
; No reqs
graphic	= "b.king_richards_crusade"
graphic_alt	= "-"
build_cost	= 200
upkeep		= 1
sabotage	= 0
sound		= "w_king_richards_crusade"
sound_alt	= "w_generic"
helptext	= _("\
Increases by half the chance of a Land or Assault unit getting the\
 next veteran level after a battle.\
"), _("\
The Prussian War College educated officers not only in tactics,\
 strategy, weapons science and military geography, but also in\
 mathematics, science in general, languages and administration,\
 to produce a highly effective and capable General Staff.\
")

[building_rnas_college]
name		= _("Naval College")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Military Seaplanes", "Player"
      "TerrainClass", "Oceanic", "Adjacent"
    }
graphic	= "b.lighthouse"
graphic_alt	= "-"
build_cost	= 200
upkeep		= 1
sabotage	= 0
sound		= "w_lighthouse"
sound_alt	= "w_generic"
helptext	= _("\
Increases by half the chance of a Sea, Seaplane or Carrier-borne\
 unit getting the next veteran level after a battle.\
"), _("\
Staff colleges such as the Royal Naval College Greenwich act as\
 'the university of the Navy', training officers in advanced\
 operational techniques to increase their military effectiveness.\
")

[building_cranwell]
name		= _("RAF College Cranwell")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Twenties Fighters", "Player"
    }
graphic	= "b.raf_college"
graphic_alt	= "b.isaac_newtons_college"
build_cost	= 200
upkeep		= 1
sabotage	= 0
sound		= "w_isaac_newtons_college"
sound_alt	= "w_generic"
helptext	= _("\
Increases by half the chance of an Air or Helicopter unit getting\
 the next veteran level after a battle.\
"), _("\
The world's first 'air academy', the Royal Air Force college at\
 Cranwell in Lincolnshire was established in 1919 to mould cadets\
 into officers and 'give a sense of purpose to the future leaders\
 of the service'.\
")

[building_yasukuni]
name		= _("Yasukuni Shrine")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
    }
graphic	= "b.mausoleum"
graphic_alt	= "b.oracle"
build_cost	= 200
upkeep		= 1
sabotage	= 0
sound		= "w_oracle"
sound_alt	= "w_generic"
helptext	= _("\
Makes one unhappy citizen content in every city, as long as\
 government is Fascist.\
"), _("\
Allows the player to build Kamikazes, as long as government\
 is Fascist and the player has researched Carrier Aviation\
 1935.\
"), _("\
A Shinto shrine commemorating those who died in service of\
 Japan, Yasukuni is controversial owing to its historical\
 association with Japanese nationalism and the enshrinement\
 of war criminals.\
")

; **Economic**

[building_lloyds]
name		= _("Lloyd's of London")
genus		= "SmallWonder"
reqs	=
    { "type", "name", "range"
    }
graphic	= "b.lloyds"
graphic_alt	= "b.bank"
obsolete_by	=
    { "type", "name", "range", "survives"
      "Tech", "Twenties Airlift", "Player", FALSE
    }
build_cost	= 90
upkeep		= 1
sabotage	= 0
sound		= "w_asmiths_trading_co"
sound_alt	= "w_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the tax output in a city by 60%.\
"), _("\
Lloyd's was for a long time the centre of marine insurance.\
")

[building_kittyhawk]
name		= _("Kitty Hawk Monument")
genus		= "SmallWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Powered Flight", "Player"
    }
graphic	= "b.kittyhawk"
graphic_alt	= "b.statue_of_liberty"
obsolete_by	=
    { "type", "name", "range", "survives"
      "Tech", "General Aviation", "Player", FALSE
    }
build_cost	= 50
upkeep		= 1
sabotage	= 0
sound		= "w_statue_of_liberty"
sound_alt	= "w_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Adds 4 to the tax output of the city.\
"), _("\
The site of the Wright Brothers' first flight, Kill Devil\
 Hills near Kitty Hawk NC, is the site of a national\
 memorial commemorating the conquest of the air.\
")

[building_dh]
name		= _("de Havilland")
genus		= "SmallWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "General Aviation", "Player"
    }
graphic	= "b.dehavilland"
graphic_alt	= "b.colossus"
obsolete_by	=
    { "type", "name", "range", "survives"
      "Tech", "Heavy Airlift", "Player", FALSE
    }
build_cost	= 160
upkeep		= 1
sabotage	= 0
sound		= "w_colossus"
sound_alt	= "w_generic"
helptext	= _("\
Each tile around the city where this wonder is built that is already\
 generating some trade produces one extra trade resource.\
"), _("\
One of the most successful light-aeroplane manufacturers was the\
 de Havilland company, along with its subsidiaries in Canada and\
 Australia.  Cheap to run, their commercial aircraft like the DH89\
 Dragon Rapide and DHC-2 Beaver have long been a staple of short-\
haul air traffic. \
 Today de Havilland itself has disappeared into the BAe Systems\
 conglomerate, but de Havilland Canada retains its identity and\
 is now owned by Viking Air Ltd.\
")

[building_airline]
name		= _("National Airline")
genus		= "SmallWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Thirties Airlift", "Player"
      "Building", "Commercial Airstrip", "City"
    }
graphic	= "b.natair"
graphic_alt	= "b.asmiths_trading_co"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 200
upkeep		= 2
sabotage	= 0
sound		= "w_asmiths_trading_co"
sound_alt	= "w_generic"
helptext	= _("\
Doubles the effect of all your Commercial Airstrips. \
 Requires Commercial Airstrip to build.\
"), _("\
As both a prestige symbol and an economic accelerant, national airlines\
 such as Lufthansa, British Airways and Air France have long been major\
 brands of the countries which sponsor them.\
")

[building_display]
name		= _("Display Team")
genus		= "SmallWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Twenties Fighters", "Player"
    }
graphic	= "b.dispteam"
graphic_alt	= "b.hanging_gardens"
obsolete_by	=
    { "type", "name", "range", "survives"
    }
build_cost	= 200
upkeep		= 1
sabotage	= 0
sound		= "w_hanging_gardens"
sound_alt	= "w_generic"
helptext	= _("\
Makes one content citizen happy in every city. \
 In the unlikely event where there are no content citizens\
 to get the effect of the Display Team, the wonder makes\
 an unhappy citizen content instead.\
"), _("\
Aerobatic flying displays are a popular entertainment, and\
 many national air forces maintain teams of pilots for this\
 purpose.  Today, perhaps the best known are the Red Arrows\
 of the RAF.\
")

[building_institute]
name		= _("Aeronautical Institute")
genus		= "SmallWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Practical Aviation", "Player"
      "Building", "Aeronautical Library", "City"
    }
graphic	= "b.copernicus_observatory"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
      "Tech", "Aerodynamics Research", "Player"
    }
build_cost	= 80
upkeep		= 1
sabotage	= 0
sound		= "w_copernicus_observatory"
sound_alt	= "w_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Increases the effect of Aeronautical Library in the city where it\
 is built: boosts science production by 100% (instead of 35%).\
"), _("\
Even in the earliest days of aviation, there were some attempts\
 to put the science of flight on a sound theoretical basis.  Though\
 the principles were not fully understood, a by-product of these\
 efforts was the collation of data from experimenters around the\
 world as they disagreed with the theories.\
")

[building_super_tunnel]
name		= _("Supersonic Wind Tunnel")
genus		= "SmallWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Supersonic Aerodynamics", "Player"
      "Building", "Wind Tunnel", "City"
    }
graphic	= "b.copernicus_observatory"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 300
upkeep		= 1
sabotage	= 0
sound		= "w_copernicus_observatory"
sound_alt	= "w_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Boosts science production by 100% in the city where it is built.\
"), _("\
Early wind tunnel designs failed to reach supersonic speeds owing\
 to choking in the venturi.  When the behaviour of supersonic flow\
 was at last well-enough understood to develop the inverse venturi,\
 the design of supersonic aircraft could finally proceed on a firm\
 foundation of hard data.\
")

[building_sbac_airshow]
name		= _("S.B.A.C. Airshow")
genus		= "SmallWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Engines 1930", "Player"
    }
graphic	= "b.leonardos_workshop"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 250
upkeep		= 1
sabotage	= 0
sound		= "w_leonardos_workshop"
sound_alt	= "w_generic"
; /* xgettext:no-c-format */
helptext	= _("\
Reduces the cost to upgrade obsolete units by 50%.\
"), _("\
The Farnborough Airshow, a trade fair organised by the Society of\
 British Aircraft Constructors, is where many of Britain's most\
 iconic aeroplanes were first revealed to the public.\
")

[building_gagarin]
name		= _("Human In Orbit")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Space Flight", "Player"
    }
graphic	= "b.apollo_program"
graphic_alt	= "b.hanging_gardens"
obsolete_by	=
    { "type", "name", "range", "survives"
    }
build_cost	= 400
upkeep		= 0
sabotage	= 0
sound		= "w_apollo_program"
sound_alt	= "w_generic"
helptext	= _("\
Makes two content citizens happy in every city. \
 In the unlikely event where there are no content citizens\
 to get the effect of the Human In Orbit, the wonder makes\
 unhappy citizens content instead.\
"), _("\
The first spaceflight into low Earth orbit, by Major Yuri\
 Gagarin in 1961, was a source of great patriotic pride to\
 the Soviet Union.\
")

; **Research

[building_janes]
name		= _("Jane's All The World's Aircraft")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Practical Aviation", "Player"
    }
graphic	= "b.great_library"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range", "survives"
    }
build_cost	= 200
upkeep		= 2
sabotage	= 0
sound		= "w_great_library"
sound_alt	= "w_generic"
helptext	= _("\
The civilization which writes Jane's gets every advance\
 that at least two other teams have achieved.\
"), _("\
Since 1909, the publication founded by Fred T. Jane has\
 served as a thorough technical reference on all the\
 aeroplanes and airships operated by militaries and\
 airlines around the world.\
")

[building_schneider]
name		= _("Schneider Trophy")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Thirties Seaplanes", "Player"
      "Building", "Air Races", "City"
    }
graphic	= "b.darwins_voyage"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 200
upkeep		= 0
sabotage	= 0
sound		= "w_darwins_voyage"
sound_alt	= "w_generic"
helptext	= _("\
Gives an immediate technology advance. \
 Requires Air Races to build.\
"), _("\
The seaplane races for the Coupe d'Aviation Maritime Jacques\
 Schneider, held from 1913 to 1931, became the 'blue riband' of\
 air racing, and the impetus for rapid technological innovation\
 in the competing countries.  The trophy was finally won\
 outright for Britain by the Supermarine floatplanes, whose\
 design influenced the later Spitfire fighter.\
")

[building_sound_barrier]
name		= _("Sound Barrier")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Rocketry", "Player"
    }
graphic	= "b.darwins_voyage"
graphic_alt	= "-"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 300
upkeep		= 0
sabotage	= 0
sound		= "w_darwins_voyage"
sound_alt	= "w_generic"
helptext	= _("\
Gives two immediate technology advances.\
"), _("\
In 1947, the American Chuck Yeager made the first supersonic manned\
 flight, in the Bell X-1 rocket-propelled aeroplane.  This, and later\
 X-planes, provided invaluable in-flight data for the design of\
 supersonic aircraft for the US military.\
")

; **Other

[building_bbc]
name		= _("Broadcasting Corporation")
genus		= "GreatWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Radio", "Player"
    }
graphic	= "b.broadcasting"
graphic_alt	= "b.marco_polos_embassy"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 200
upkeep		= 1
sabotage	= 0
sound		= "w_marco_polos_embassy"
sound_alt	= "w_generic"
helptext	= _("\
Gives contact with every player in the game, allowing diplomacy\
 even with unencountered civilisations.\
"), _("\
Also, improves your reputation and goodwill with AI players.\
"), _("\
As the BBC's motto says, 'Nation shall speak peace unto Nation'.\
")

[building_forecast]
name		= _("Shipping Forecast")
genus		= "SmallWonder"
reqs	=
    { "type", "name", "range"
      "Tech", "Radio", "Player"
    }
graphic	= "b.shipping_forecast"
graphic_alt	= "b.lighthouse"
obsolete_by	=
    { "type", "name", "range"
    }
build_cost	= 120
upkeep		= 1
sabotage	= 0
sound		= "w_lighthouse"
sound_alt	= "w_generic"
helptext	= _("\
Increases by 1 the movement of all Sea units.\
"), _("\
The ability to receive updates on the weather at sea provides\
 a great boon to both military and merchant shipping.\
")
