; Modifying this file:
; You should not modify this file except to make bugfixes or
; for other "maintenance".  If you want to make custom changes,
; you should create a new datadir subdirectory and copy this file
; into that directory, and then modify that copy.  Then use the
; command "rulesetdir <mysubdir>" in the server to have freeciv
; use your new customized file.

[datafile]
description="Aviation effects data for Freeciv"
options="+Freeciv-ruleset-Devel-2017.Jan.02"
format_version=20

; /* <-- avoid gettext warnings
;
; Effects
;
; type                    = What the effect does. Values of multiple active effects
;                           of the same type get summed for the total.
;                           See README.effects for list of possible types
; value                   = Value added for the effect type when this effect is active,
;                           i.e., all requirements are fulfilled
; multiplier              = Name of the policy that gives a multiplier for effect's value
; reqs                    = Requirements for the effect to be active.
;                           See README.effects for help on requirements
;
; */ <-- avoid gettext warnings

; Cheating AI effects are in separate file
*include "default/ai_effects.ruleset"

; Barbarian effects

[effect_barb1]
type    = "No_Diplomacy"
value   = 1
reqs    =
    { "type",   "name", "range"
      "NationGroup", "Barbarian", "Player"
    }

; Barbarian disappearance

[effect_barb_disappear]
type    = "Retire_Pct"
value   = 10
reqs    =
    { "type", "name", "range", "present"
      "NationGroup", "Barbarian", "Player", TRUE
      "Age", "5", "Local", TRUE
      "CityTile", "Center", "Local", FALSE
    }

; Specialist output bonuses

[effect_elvis]
type    = "Specialist_Output"
value   = 2
reqs    =
    { "type", "name", "range"
      "Specialist", "elvis", "Local"
      "OutputType", "luxury", "Local"
    }

[effect_scientist]
type    = "Specialist_Output"
value   = 3
reqs    =
    { "type", "name", "range"
      "Specialist", "scientist", "Local"
      "OutputType", "science", "Local"
    }

[effect_taxman]
type    = "Specialist_Output"
value   = 3
reqs    =
    { "type", "name", "range"
      "Specialist", "taxman", "Local"
      "OutputType", "gold", "Local"
    }


; Vision benefit from fortress watchtowers
[effect_fortress_vision]
type    = "Unit_Vision_Radius_Sq"
value   = 3
reqs    =
    { "type", "name", "range"
      "Extra", "Fortress", "tile"
      "UnitClass", "Land", "Local"
    }
[effect_fortress_vision_2]
type    = "Unit_Vision_Radius_Sq"
value   = 3
reqs    =
    { "type", "name", "range"
      "Extra", "Fortress", "tile"
      "UnitClass", "Assault", "Local"
    }

[effect_fortified]
type    = "Fortify_Defense_Bonus"
value   = 50
reqs    =
    { "type", "name", "range"
      "Activity", "Fortified", "Local"
    }

; Units that can fortify get the bonus while in a city, even if they haven't
; actively fortified themselves.
[effect_city_fortified]
type    = "Fortify_Defense_Bonus"
value   = 50
reqs    =
    { "type",          "name",         "range", "present"
      "CityTile",      "Center",       "Local", TRUE
      "Activity",      "Fortified",    "Local", FALSE
      "UnitClassFlag", "CanFortify",   "Local", TRUE
      "UnitFlag",      "Cant_Fortify", "Local", FALSE
    }

; basic free tech upkeep
[effect_upkeep_tech_free]
type    = "Tech_Upkeep_Free"
value   = 3

; Fortress HP regen
[effect_fortress_hp_regen]
type    = "HP_Regen"
value   = 25
reqs    =
    { "type", "name", "range"
      "Extra", "Fortress", "Tile"
      "UnitClass", "Land", "Local"
    }
[effect_fortress_hp_regen_2]
type    = "HP_Regen"
value   = 25
reqs    =
    { "type", "name", "range"
      "Extra", "Fortress", "Tile"
      "UnitClass", "Assault", "Local"
    }

; Base vision range - radius of vision is sqrt(5) = 2.24
[effect_city_vision]
type    = "City_Vision_Radius_Sq"
value   = 5

[effect_trade_routes_base]
type    = "Max_Trade_Routes"
value   = 2

[effect_trade_routes_icao]
type    = "Max_Trade_Routes"
value   = 1
reqs	=
    { "type", "name", "range"
      "Building", "ICAO", "World"
    }

[effect_trade_routes_hub]
type    = "Max_Trade_Routes"
value   = 1
reqs	=
    { "type", "name", "range"
      "Building", "Hub Airport", "City"
    }

[effect_enter_marketplace_bonus_reduction]
type	= "Trade_Revenue_Bonus"
value	= -2000
reqs	=
    { "type", "name", "range"
      "Action", "Enter Marketplace", "Local"
    }

[effect_trade_bonus_fudge_factor]
type	= "Trade_Revenue_Bonus"
value	= 1585

[effect_trade_revenue_reduce]
type    = "Trade_Revenue_Bonus"
value   = -585
reqs    =
    { "type", "name", "range"
      "Tech", "Fifties Airlift", "Player"
    }

[effect_foodbox]
type    = "Growth_Food"
value   = 30 ; make growing cities without rapture not _too_ painful.  Also we don't have Granaries

; Government effects

[effect_revolt_upkeep]
type    = "Upkeep_Free"
value	= 99
reqs	=
    { "type", "name", "range"
      "Gov", "Revolution", "Player"
    }

[effect_revolt_upkeep_tech_free]
type    = "Tech_Upkeep_Free"
value   = 9999
reqs    =
    { "type", "name", "range"
      "Gov", "Revolution", "Player"
    }

[effect_corruption_revolt0]
type    = "Output_Waste"
value	= 25
reqs	=
    { "type", "name", "range"
      "Gov", "Revolution", "Player"
      "OutputType", "Trade", "Local"
    }

[effect_corruption_revolt1]
type    = "Output_Waste_By_Distance"
value	= 200
reqs	=
    { "type", "name", "range"
      "Gov", "Revolution", "Player"
      "OutputType", "Trade", "Local"
    }

[effect_corruption_monarchy0]
type    = "Output_Waste"
value	= 20
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
      "OutputType", "Trade", "Local"
    }

[effect_corruption_monarchy1]
type    = "Output_Waste_By_Distance"
value	= 90
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
      "OutputType", "Trade", "Local"
    }

[effect_corruption_democracy0]
type    = "Output_Waste"
value	= 20
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
      "OutputType", "Trade", "Local"
    }

[effect_corruption_communism0]
type    = "Output_Waste"
value	= 10
reqs	=
    { "type", "name", "range"
      "Gov", "Communism", "Player"
      "OutputType", "Trade", "Local"
    }

[effect_corruption_communism1]
type    = "Output_Waste_By_Distance"
value	= 90
reqs	=
    { "type", "name", "range"
      "Gov", "Communism", "Player"
      "OutputType", "Trade", "Local"
    }

[effect_waste_communism0]
type    = "Output_Waste"
value	= 10
reqs	=
    { "type", "name", "range"
      "Gov", "Communism", "Player"
      "OutputType", "Shield", "Local"
    }

[effect_corruption_fascism0]
type    = "Output_Waste"
value	= 37
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
      "OutputType", "Trade", "Local"
    }

[effect_corruption_fascism1]
type    = "Output_Waste_By_Distance"
value	= 270
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
      "OutputType", "Trade", "Local"
    }

[effect_upkeep_free_units_revolt]
type    = "Unit_Upkeep_Free_Per_City"
value	= 3
reqs   =
    { "type", "name", "range"
      "Gov", "Revolution", "Player"
      "OutputType", "Shield", "Local"
    }

[effect_unit_upkeep_shields_revolt]
type    = "Upkeep_Factor"
value	= 1
reqs	=
    { "type", "name", "range"
      "Gov", "Revolution", "Player"
      "OutputType", "Shield", "Local"
    }

[effect_unit_upkeep_gold_revolt]
type    = "Upkeep_Factor"
value	= 0
reqs	=
    { "type", "name", "range"
      "Gov", "Revolution", "Player"
      "OutputType", "Gold", "Local"
    }

[effect_unit_upkeep_shields_monarchy]
type    = "Upkeep_Factor"
value	= 0
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
      "OutputType", "Shield", "Local"
    }

[effect_unit_upkeep_gold_monarchy]
type    = "Upkeep_Factor"
value	= 1
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
      "OutputType", "Gold", "Local"
    }

[effect_unit_upkeep_shields_democracy]
type    = "Upkeep_Factor"
value	= 1
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
      "OutputType", "Shield", "Local"
    }

[effect_unit_upkeep_gold_democracy]
type    = "Upkeep_Factor"
value	= 0
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
      "OutputType", "Gold", "Local"
    }

[effect_unit_upkeep_shields_communism]
type    = "Upkeep_Factor"
value	= 1
reqs	=
    { "type", "name", "range"
      "Gov", "Communism", "Player"
      "OutputType", "Shield", "Local"
    }

[effect_unit_upkeep_gold_communism]
type    = "Upkeep_Factor"
value	= 0
reqs	=
    { "type", "name", "range"
      "Gov", "Communism", "Player"
      "OutputType", "Gold", "Local"
    }

[effect_unit_upkeep_shields_fascism]
type    = "Upkeep_Factor"
value	= 0
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
      "OutputType", "Shield", "Local"
    }

[effect_unit_upkeep_gold_fascism]
type    = "Upkeep_Factor"
value	= 2
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
      "OutputType", "Gold", "Local"
    }

[effect_monarchy_unit_unhappiness]
type    = "Unhappy_Factor"
value	= 1
reqs   =
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
    }

[effect_democracy_unit_unhappiness]
type    = "Unhappy_Factor"
value	= 1
reqs   =
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
    }

[effect_civil_war_0]
type    = "Civil_War_Chance"
value   = 90
reqs	=
    { "type", "name", "range"
      "Gov", "Revolution",   "Player"
    }

[effect_civil_war_1]
type    = "Civil_War_Chance"
value   = 60
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
    }

[effect_civil_war_2]
type    = "Civil_War_Chance"
value   = 30
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
    }

[effect_civil_war_3]
type    = "Civil_War_Chance"
value   = 50
reqs	=
    { "type", "name", "range"
      "Gov", "Communism", "Player"
    }

[effect_civil_war_4]
type    = "Civil_War_Chance"
value   = 70
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
    }

[effect_unhappysize_0]
type    = "City_Unhappy_Size"
value   = 4
reqs	=
    { "type", "name", "range"
      "Gov", "Revolution", "Player"
    }

[effect_unhappysize_1]
type    = "City_Unhappy_Size"
value   = 4
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
    }
[effect_unhappysize_2]
type    = "City_Unhappy_Size"
value   = 4
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
    }

[effect_unhappysize_3]
type    = "City_Unhappy_Size"
value   = 6
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
    }

[effect_unhappysize_4]
type    = "City_Unhappy_Size"
value   = 6
reqs	=
    { "type", "name", "range"
      "Gov", "Communism", "Player"
    }

[effect_empire_size_base_0]
type    = "Empire_Size_Base"
value   = 9
reqs	=
    { "type", "name", "range"
      "Gov", "Revolution",   "Player"
    }

[effect_empire_size_base_1]
type    = "Empire_Size_Base"
value   = 10
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy",  "Player"
    }

[effect_empire_size_base_2]
type    = "Empire_Size_Base"
value   = 14
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy",  "Player"
    }

[effect_empire_size_base_3]
type    = "Empire_Size_Base"
value   = 12
reqs	=
    { "type", "name", "range"
      "Gov", "Communism", "Player"
    }

[effect_empire_size_base_4]
type    = "Empire_Size_Base"
value   = 15
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
    }

[effect_empire_size_step_0]
type    = "Empire_Size_Step"
value   = 6
reqs	=
    { "type", "name", "range"
      "Gov", "Revolution", "Player"
    }

[effect_empire_size_step_1]
type    = "Empire_Size_Step"
value   = 9
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
    }

[effect_empire_size_step_2]
type    = "Empire_Size_Step"
value   = 12
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
    }

[effect_empire_size_step_3]
type    = "Empire_Size_Step"
value   = 10
reqs	=
    { "type", "name", "range"
      "Gov", "Communism", "Player"
    }

[effect_empire_size_step_4]
type    = "Empire_Size_Step"
value   = 16
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
    }

; Uncap tax rates in all governments
[effect_max_rates_any]
type    = "Max_Rates"
value   = 100

[effect_martial_law_each]
type    = "Martial_Law_Each"
value   = 1
reqs	=
    { "type", "name", "range", "present"
      "Gov", "Democracy", "Player", FALSE
    }

[effect_martial_law_max_base]
type    = "Martial_Law_Max"
value   = 3
reqs	=
    { "type", "name", "range", "present"
      "Gov", "Democracy", "Player", FALSE
      "Gov", "Constitutional Monarchy", "Player", FALSE
    }

[effect_martial_law_max_monarchy]
type    = "Martial_Law_Max"
value   = 2
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
    }


[effect_gov_tile_bonus_0]
type    = "Output_Penalty_Tile"
value   = 2
reqs	=
    { "type", "name", "range"
      "Gov", "Revolution", "Player"
    }

[effect_gov_tile_bonus_1]
type    = "Output_Inc_Tile"
value   = 1
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
      "OutputType", "Trade", "Local"
    }

[effect_gov_tile_bonus_2]
type    = "Output_Inc_Tile_Celebrate"
value   = 1
reqs	=
    { "type",       "name",      "range"
      "OutputType", "Trade", "Local"
      "Gov", "Democracy", "Player"
    }

[effect_revolution_0]
type    = "Revolution_Unhappiness"
value   = 3
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
    }

[effect_revolution_1]
type    = "Revolution_Unhappiness"
value   = 2
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
    }

[effect_revolution_2]
type    = "Revolution_Unhappiness"
value   = 3
reqs	=
    { "type", "name", "range"
      "Gov", "Communism", "Player"
    }

[effect_revolution_3]
type    = "Revolution_Unhappiness"
value   = 3
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
    }

[effect_lysenko]
type    = "Output_Bonus"
value   = -40
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "Communism", "Player", TRUE
      "OutputType", "Science", "Local", FALSE
    }

[effect_siberian_smog]
type    = "Pollu_Prod_Pct"
value   = 50
reqs    =
    { "type", "name", "range"
      "Gov", "Communism", "Player"
    }

[effect_wehraboo]
type    = "Fanatics"
value   = 1
reqs    =
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
    }

[effect_senate]
type    = "Has_Senate"
value   = 1
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
    }

; We have no Size_Adj limits/buildings
[effect_city_size]
type    = "Size_Unlimit"
value   = 1

[effect_hq_1]
type    = "Output_Waste_Pct"
value	= 50
reqs	=
    { "type", "name", "range"
      "Building", "HQ", "City"
      "OutputType", "Trade", "Local"
    }

[effect_hq_2]
type    = "Capital_City"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "HQ", "City"
    }

[effect_hq_gov_center]
type    = "Gov_Center"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "HQ", "City"
    }

[effect_faa_1]
type    = "Output_Waste_Pct"
value	= 50
reqs	=
    { "type", "name", "range", "present"
      "Building", "FAA Branch", "City", TRUE
      "OutputType", "Trade", "Local", TRUE
      "Building", "HQ", "City", FALSE
    }

[effect_faa_2]
type    = "Make_Content"
value	= 1
reqs	=
    { "type", "name", "range"
      "Gov", "Constitutional Monarchy", "Player"
      "Building", "FAA Branch", "City"
    }

[effect_faa_3]
type    = "Make_Content"
value	= 1
reqs	=
    { "type", "name", "range"
      "Gov", "Democracy", "Player"
      "Building", "FAA Branch", "City"
    }

; Extended vision range.  Base is 5, add 13 = 18; (4,1) or (3,3)
; Not cumulative with Chain Home!
[effect_radar]
type    = "City_Vision_Radius_Sq"
value   = 13
reqs	=
    { "type", "name", "range", "present"
      "Building", "Radar Station", "City", TRUE
      "Building", "Chain Home", "Continent", FALSE
    }

[effect_tramways]
type    = "Pollu_Pop_Pct"
value	= -100
reqs	=
    { "type", "name", "range"
      "Building", "Tramways", "City"
    }

[effect_recruiter]
type    = "Unit_Upkeep_Free_Per_City"
value	= 2
reqs   =
    { "type", "name", "range", "present"
      "Gov", "Revolution", "Player", FALSE
      "Building", "Recruiting Office", "City", TRUE
      "OutputType", "Shield", "Local", TRUE
    }

[effect_wind_tunnel]
type    = "Output_Bonus"
value	= 50
reqs	=
    { "type", "name", "range"
      "Building", "Wind Tunnel", "City"
      "OutputType", "Science", "Local"
    }

[effect_airstrip]
type    = "Output_Bonus"
value	= 50
reqs	=
    { "type", "name", "range"
      "Building", "Commercial Airstrip", "City"
      "OutputType", "Gold", "Local"
    }

[effect_airport]
type    = "Output_Bonus"
value	= 50
reqs	=
    { "type", "name", "range"
      "Building", "Commercial Airstrip", "City"
      "Building", "Hub Airport", "City"
      "OutputType", "Gold", "Local"
    }

[effect_club]
type    = "Make_Content"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "Flying Club", "City"
    }

[effect_club_2]
type    = "Make_Content"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "Flying Club", "City"
      "Tech", "General Aviation", "Player"
    }

[effect_tours]
type    = "Output_Bonus"
value	= 50
reqs	=
    { "type", "name", "range"
      "Building", "Air Tours", "City"
      "OutputType", "Luxury", "Local"
    }

[effect_races]
type    = "Make_Content"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Air Races", "City"
    }

[effect_memo_monarchy]
type    = "Make_Content_Mil"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Gov", "Constitutional Monarchy", "Player", TRUE
      "Building", "War Memorial", "City", TRUE
    }

[effect_memo_demo]
type    = "Make_Content_Mil"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Gov", "Democracy", "Player", TRUE
      "Building", "War Memorial", "City", TRUE
    }

[effect_barracks]
type    = "Veteran_Build"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Building", "Barracks", "City", TRUE
      "UnitClass", "Land", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }
[effect_barracks_a]
type    = "Veteran_Build"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Building", "Barracks", "City", TRUE
      "UnitClass", "Assault", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_barracks_1]
type    = "HP_Regen"
value	= 100
reqs	=
    { "type", "name", "range", "present"
      "Building", "Barracks", "City", TRUE
      "UnitClass", "Land", "Local", TRUE
    }
[effect_barracks_1a]
type    = "HP_Regen"
value	= 100
reqs	=
    { "type", "name", "range", "present"
      "Building", "Barracks", "City", TRUE
      "UnitClass", "Assault", "Local", TRUE
    }

[effect_shipyard]
type    = "Veteran_Build"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Building", "Shipyard", "City", TRUE
      "UnitClass", "Sea", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_shipyard_1]
type    = "HP_Regen"
value	= 100
reqs	=
    { "type", "name", "range"
      "Building", "Shipyard", "City"
      "UnitClass", "Sea", "Local"
    }

[effect_harbour]
type    = "Output_Add_Tile"
value	= 1
reqs	=
    { "type", "name", "range"
      "TerrainClass", "Oceanic", "Local"
;      "Building", "Harbour", "City" ; let's just give it for free, rather than having a building
      "OutputType", "Food", "Local"
    }

[effect_school]
type    = "Veteran_Build"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Building", "Flying School", "City", TRUE
      "UnitClass", "Air", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_school_1]
type    = "Veteran_Build"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Building", "Flying School", "City", TRUE
      "UnitClass", "Seaplane", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_school_2]
type    = "Veteran_Build"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Building", "Flying School", "City", TRUE
      "UnitClass", "Carrier-borne", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_repair_1]
type    = "HP_Regen"
value	= 100
reqs	=
    { "type", "name", "range"
      "Building", "Repair Sheds", "City"
      "UnitClass", "Air", "Local"
    }

[effect_repair_2]
type    = "HP_Regen"
value	= 100
reqs	=
    { "type", "name", "range"
      "Building", "Repair Sheds", "City"
      "UnitClass", "Carrier-borne", "Local"
    }

[effect_slipway]
type    = "HP_Regen"
value	= 100
reqs	=
    { "type", "name", "range"
      "Building", "Aircraft Slipways", "City"
      "UnitClass", "Seaplane", "Local"
    }

[effect_dusting]
type    = "Output_Per_Tile"
value	= 50
reqs	=
    { "type", "name", "range"
      "Extra", "Farmland", "Local"
      "Building", "Crop Dusting", "City"
      "OutputType", "Food", "Local"
    }

[effect_waterbomb_1]
type	= "Output_Add_Tile"
value	= 1
reqs	=
    { "type", "name", "range"
      "Terrain", "Forest", "Local"
      "Building", "Waterbombers", "City"
      "OutputType", "Shield", "Local"
    }

[effect_waterbomb_2]
type	= "Output_Add_Tile"
value	= 1
reqs	=
    { "type", "name", "range"
      "Terrain", "Forest", "Local"
      "Building", "Waterbombers", "City"
      "OutputType", "Trade", "Local"
    }

[effect_marshalling]
type    = "Output_Add_Tile"
value	= 1
reqs	=
    { "type", "name", "range"
      "Extra", "Railroad", "Local"
      "Building", "Marshalling Yard", "City"
      "MinSize", "7", "City"
      "OutputType", "Trade", "Local"
    }

[effect_engine_factory]
type    = "Output_Bonus"
value	= 50
reqs	=
    { "type", "name", "range"
      "Building", "Engine Factory", "City"
      "OutputType", "Shield", "Local"
    }

[effect_aircraft_factory]
type    = "Output_Bonus"
value	= 50
reqs	=
    { "type", "name", "range"
      "Building", "Aircraft Factory", "City"
      "OutputType", "Shield", "Local"
    }

[effect_electrification]
type    = "Pollu_Prod_Pct"
value	= -50
reqs	=
    { "type", "name", "range"
      "Building", "Electrification", "City"
    }

[effect_flak_battery_1]
type    = "Defend_Bonus"
value	= 20
reqs	=
    { "type", "name", "range", "present"
      "Building", "Flak Battery", "City", TRUE
      "Building", "SAM Battery", "City", FALSE
      "UnitClass", "Air", "Local", TRUE
      "Tech", "Proximity Fuse", "Player", FALSE
    }
[effect_flak_battery_1a]
type    = "Defend_Bonus"
value	= 50
reqs	=
    { "type", "name", "range", "present"
      "Building", "Flak Battery", "City", TRUE
      "Building", "SAM Battery", "City", FALSE
      "UnitClass", "Air", "Local", TRUE
      "Tech", "Proximity Fuse", "Player", TRUE
    }
[effect_flak_battery_2]
type    = "Defend_Bonus"
value	= 20
reqs	=
    { "type", "name", "range", "present"
      "Building", "Flak Battery", "City", TRUE
      "Building", "SAM Battery", "City", FALSE
      "UnitClass", "Carrier-borne", "Local", TRUE
      "Tech", "Proximity Fuse", "Player", FALSE
    }
[effect_flak_battery_2a]
type    = "Defend_Bonus"
value	= 50
reqs	=
    { "type", "name", "range", "present"
      "Building", "Flak Battery", "City", TRUE
      "Building", "SAM Battery", "City", FALSE
      "UnitClass", "Carrier-borne", "Local", TRUE
      "Tech", "Proximity Fuse", "Player", TRUE
    }
[effect_flak_battery_3]
type    = "Defend_Bonus"
value	= 20
reqs	=
    { "type", "name", "range", "present"
      "Building", "Flak Battery", "City", TRUE
      "Building", "SAM Battery", "City", FALSE
      "UnitClass", "Seaplane", "Local", TRUE
      "Tech", "Proximity Fuse", "Player", FALSE
    }
[effect_flak_battery_3a]
type    = "Defend_Bonus"
value	= 50
reqs	=
    { "type", "name", "range", "present"
      "Building", "Flak Battery", "City", TRUE
      "Building", "SAM Battery", "City", FALSE
      "UnitClass", "Seaplane", "Local", TRUE
      "Tech", "Proximity Fuse", "Player", TRUE
    }

[effect_sam_battery]
type    = "Defend_Bonus"
value	= 100
reqs	=
    { "type", "name", "range"
      "Building", "SAM Battery", "City"
      "UnitClass", "Air", "Local"
    }
[effect_sam_battery_1]
type    = "Defend_Bonus"
value	= 100
reqs	=
    { "type", "name", "range"
      "Building", "SAM Battery", "City"
      "UnitClass", "Carrier-borne", "Local"
    }
[effect_sam_battery_2]
type    = "Defend_Bonus"
value	= 100
reqs	=
    { "type", "name", "range"
      "Building", "SAM Battery", "City"
      "UnitClass", "Seaplane", "Local"
    }

; Extended vision range.  Base is 5, add 13 = 18; (4,1) or (3,3)
[effect_chain_home]
type    = "City_Vision_Radius_Sq"
value   = 13
reqs	=
    { "type", "name", "range"
      "Building", "Chain Home", "Continent"
    }

[effect_icao]
type    = "Reveal_Cities"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "ICAO", "Player"
    }

[effect_spy_sats]
type    = "Reveal_Map"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "Spy Satellites", "Player"
    }

[effect_war_college_land]
type    = "Veteran_Combat"
value   = 50
reqs    =
    { "type", "name", "range", "present"
      "Building", "War College", "Player", TRUE
      "UnitClass", "Land", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_war_college_assault]
type    = "Veteran_Combat"
value   = 50
reqs    =
    { "type", "name", "range", "present"
      "Building", "War College", "Player", TRUE
      "UnitClass", "Assault", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_nas_college_sea]
type    = "Veteran_Combat"
value   = 50
reqs    =
    { "type", "name", "range", "present"
      "Building", "Naval College", "Player", TRUE
      "UnitClass", "Sea", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_nas_college_seaplane]
type    = "Veteran_Combat"
value   = 50
reqs    =
    { "type", "name", "range", "present"
      "Building", "Naval College", "Player", TRUE
      "UnitClass", "Seaplane", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_nas_college_carrierborne]
type    = "Veteran_Combat"
value   = 50
reqs    =
    { "type", "name", "range", "present"
      "Building", "Naval College", "Player", TRUE
      "UnitClass", "Carrier-borne", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_cranwell_air]
type    = "Veteran_Combat"
value   = 50
reqs    =
    { "type", "name", "range", "present"
      "Building", "RAF College Cranwell", "Player", TRUE
      "UnitClass", "Air", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_cranwell_heli]
type    = "Veteran_Combat"
value   = 50
reqs    =
    { "type", "name", "range", "present"
      "Building", "RAF College Cranwell", "Player", TRUE
      "UnitClass", "Helicopter", "Local", TRUE
      "UnitFlag", "NonMil", "Local", FALSE
      "UnitFlag", "NoVeteran", "Local", FALSE
    }

[effect_shrine]
type    = "Make_Content_Mil"
value	= 1
reqs	=
    { "type", "name", "range"
      "Gov", "Fascism", "Player"
      "Building", "Yasukuni Shrine", "Player"
    }

[effect_dh]
type    = "Output_Inc_Tile"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "de Havilland", "City"
      "OutputType", "Trade", "Local"
    }

[effect_airline]
type    = "Output_Bonus"
value	= 50
reqs	=
    { "type", "name", "range", "present"
      "Building", "Commercial Airstrip", "City", TRUE
      "Building", "National Airline", "Player", TRUE
      "OutputType", "Gold", "Local", TRUE
    }

[effect_display]
type    = "Make_Happy"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "Display Team", "Player"
    }

[effect_super_tunnel]
type    = "Output_Bonus"
value	= 100
reqs	=
    { "type", "name", "range"
      "Building", "Supersonic Wind Tunnel", "City"
      "OutputType", "Science", "Local"
    }

[effect_janes]
type    = "Tech_Parasite"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Jane's All The World's Aircraft", "Player"
    }

[effect_schneider]
type    = "Give_Imm_Tech"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "Schneider Trophy", "Player"
    }

[effect_farnborough]
type    = "Upgrade_Price_Pct"
value	= -50
reqs	=
    { "type", "name", "range"
      "Building", "S.B.A.C. Airshow", "Player"
    }

[effect_gagarin]
type    = "Make_Happy"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Human In Orbit", "Player"
    }

[effect_sound_barrier]
type    = "Give_Imm_Tech"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Sound Barrier", "Player"
    }

[effect_bbc]
type	= "Have_Contacts"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "Broadcasting Corporation", "Player"
    }

[effect_bbc_2]
type    = "Gain_AI_Love"
value   = 20
reqs	=
    { "type", "name", "range"
      "Building", "Broadcasting Corporation", "Player"
    }

[effect_beam_bombing_1]
type    = "Attack_Bonus"
value   = 20
reqs    =
    { "type", "name", "range"
      "Tech", "Electronics 1935", "Player"
      "UnitClass", "Air", "Local"
; Really we want to test that the defender is a Ground unit,
; but there's currently no way to do that
      "UnitFlag", "AntiGround", "Local"
      "CityTile", "Center", "Local"
    }

[effect_beam_bombing_2]
type    = "Attack_Bonus"
value   = 20
reqs    =
    { "type", "name", "range"
      "Tech", "Electronics 1935", "Player"
      "UnitClass", "Seaplane", "Local"
; Really we want to test that the defender is a Ground unit,
; but there's currently no way to do that
      "UnitFlag", "AntiGround", "Local"
      "CityTile", "Center", "Local"
    }

[effect_beam_bombing_3]
type    = "Attack_Bonus"
value   = 20
reqs    =
    { "type", "name", "range"
      "Tech", "Electronics 1935", "Player"
      "UnitClass", "Carrier-borne", "Local"
; Really we want to test that the defender is a Ground unit,
; but there's currently no way to do that
      "UnitFlag", "AntiGround", "Local"
      "CityTile", "Center", "Local"
    }

[effect_airborne_radar_1]
type    = "Attack_Bonus"
value   = 20
reqs    =
    { "type", "name", "range", "present"
      "Tech", "Airborne Radar", "Player", TRUE
      "UnitClass", "Air", "Local", TRUE
; Really we want to test that the defender is an Air unit too,
; but there's currently no way to do that
      "UnitFlag", "AntiAir", "Local", TRUE
; Make sure AF doesn't get both beam-bombing and airad bonuses.
; If you're strafing fighters as they scramble to fight you, then you
; don't get a bonus from having radar.
      "CityTile", "Center", "Local", FALSE
    }

[effect_airborne_radar_2]
type    = "Attack_Bonus"
value   = 20
reqs    =
    { "type", "name", "range", "present"
      "Tech", "Airborne Radar", "Player", TRUE
      "UnitClass", "Seaplane", "Local", TRUE
      "UnitFlag", "AntiAir", "Local", TRUE
; Make sure PJ doesn't get both beam-bombing and airad bonuses.
; If you're strafing fighters as they scramble to fight you, then you
; don't get a bonus from having radar.
      "CityTile", "Center", "Local", FALSE
    }

[effect_airborne_radar_3]
type    = "Attack_Bonus"
value   = 20
reqs    =
    { "type", "name", "range", "present"
      "Tech", "Airborne Radar", "Player", TRUE
      "UnitClass", "Carrier-borne", "Local", TRUE
      "UnitFlag", "AntiAir", "Local", TRUE
; Make sure NS, AV etc don't get both beam-bombing and airad bonuses.
; If you're strafing fighters as they scramble to fight you, then you
; don't get a bonus from having radar.
      "CityTile", "Center", "Local", FALSE
    }

[effect_bachstelze]
type    = "Unit_Vision_Radius_Sq"
value   = 3
reqs    =
    { "type", "name", "range"
      "Tech", "Autogyro", "Player"
      "UnitType", "Submersible (surfaced)", "Local"
    }

[effect_calendar_year]
type    = "Turn_Years"
value   = 0

[effect_calendar_frag]
type    = "Turn_Fragments"
value   = 1

[effect_tech_cost_base]
type    = "Tech_Cost_Factor"
value   = 1

[effect_conquer_techs_base]
type    = "Conquest_Tech_Pct"
value   = 60

; Cities can always work tiles
[effect_tile_workable]
type    = "Tile_Workable"
value   = 1
reqs    =
    { "type", "name", "range", "present"
      "Terrain", "Inaccessible", "Local", FALSE
    }

; each city has at least one slot to build units
[effect_city_build_slots_basic]
type    = "City_Build_Slots"
value   = 1

[effect_city_image_1]
type    = "City_Image"
value   = 1
reqs    =
    { "type", "name", "range"
      "MinSize", "4", "City"
    }

[effect_city_image_2]
type    = "City_Image"
value   = 1
reqs    =
    { "type", "name", "range"
      "MinSize", "8", "City"
    }

[effect_city_image_3]
type    = "City_Image"
value   = 1
reqs    =
    { "type", "name", "range"
      "MinSize", "12", "City"
    }

[effect_city_image_4]
type    = "City_Image"
value   = 1
reqs    =
    { "type", "name", "range"
      "MinSize", "16", "City"
    }

[effect_irrigation]
type    = "Irrigation_Pct"
value   = 100
reqs    =
    { "type", "name", "range"
      "Extra", "Irrigation", "Local"
    }

[effect_irrigation_center]
type    = "Irrigation_Pct"
value	= 100
reqs	=
    { "type", "name", "range", "present"
      "CityTile", "Center", "Local", TRUE
      "Extra", "Irrigation", "Local", FALSE
      "TerrainAlter", "CanIrrigate", "Local", TRUE
      "Extra", "Mine", "Local", FALSE
      "Extra", "Oil Well", "Local", FALSE
    }

[effect_mine]
type    = "Mining_Pct"
value   = 100
reqs    =
    { "type", "name", "range"
      "Extra", "Mine", "Local"
    }

[effect_oil_well]
type    = "Mining_Pct"
value   = 100
reqs    =
    { "type", "name", "range"
      "Extra", "Oil Well", "Local"
    }

[effect_pollution]
type	= "Output_Tile_Punish_Pct"
value	= 50
reqs	=
    { "type", "name", "range", "present"
      "Extra", "Pollution", "Local", TRUE
      "Extra", "Fallout", "Local", FALSE
    }

[effect_fallout]
type	= "Output_Tile_Punish_Pct"
value	= 50
reqs	=
    { "type", "name", "range", "present"
      "Extra", "Fallout", "Local", TRUE
     "Extra", "Pollution", "Local", FALSE
    }

[effect_pollution_fallout]
type	= "Output_Tile_Punish_Pct"
value	= 75
reqs	=
    { "type", "name", "range"
      "Extra", "Fallout", "Local"
      "Extra", "Pollution", "Local"
    }

[effect_unit_bribe_cost_settlers]
type	= "Unit_Bribe_Cost_Pct"
value	= -50
reqs	=
    { "type", "name", "range"
      "UnitFlag", "Cities", "Local"
    }

[effect_illegal_action_move_cost_base]
type    = "Illegal_Action_Move_Cost"
value   = 1
reqs    =
    { "type", "name", "range", "present"
      "Action", "Found City", "Local", FALSE
      "Action", "Join City", "Local", FALSE
      "Action", "Attack", "Local", FALSE
    }

; Double (+100%) buy cost for Great Wonders
[effect_great_wonder_buy_cost]
type    = "Building_Buy_Cost_Pct"
value   = 100
reqs    =
    { "type", "name", "range"
      "BuildingGenus", "GreatWonder", "Local"
    }

[effect_cr_scout]
type    = "Combat_Rounds"
value   = 3 ; scouts get few rounds per attack but can multiattack (so they're more effective when intercepting at shorter range)
reqs    =
    { "type", "name", "range"
      "UnitFlag", "CRscout", "Local"
    }

[effect_cr_fighter]
type    = "Combat_Rounds"
value   = 5 ; fighters get few rounds per attack but can multiattack (so they're more effective when intercepting at shorter range).  Also, they're better than early scouts
reqs    =
    { "type", "name", "range"
      "UnitFlag", "CRfighter", "Local"
    }

[effect_cr_trench_fighter]
type    = "Combat_Rounds"
value   = 4 ; trench-fighters get few rounds per attack but can multiattack (so they're more effective at shorter range)
reqs    =
    { "type", "name", "range"
      "UnitFlag", "CRtf", "Local"
    }

[effect_cr_attacker]
type    = "Combat_Rounds"
value   = 6 ; attackers get limited rounds per attack but can multiattack (so they're more effective at shorter range)
reqs    =
    { "type", "name", "range"
      "UnitFlag", "CRattack", "Local"
    }

[effect_cr_torpedo_bomber]
type    = "Combat_Rounds"
value   = 9 ; attack ends turn
reqs    =
    { "type", "name", "range"
      "UnitFlag", "CRtb", "Local"
    }

[effect_cr_light_bomber]
type    = "Combat_Rounds"
value   = 8 ; attack ends turn
reqs    =
    { "type", "name", "range"
      "UnitFlag", "CRlight", "Local"
    }

[effect_cr_medium_bomber]
type    = "Combat_Rounds"
value   = 12 ; attack ends turn
reqs    =
    { "type", "name", "range"
      "UnitFlag", "CRmedium", "Local"
    }

[effect_cr_heavy_bomber]
type    = "Combat_Rounds"
value   = 10 ; extra FP.  attack ends turn
reqs    =
    { "type", "name", "range"
      "UnitFlag", "CRheavy", "Local"
    }
