
; Modifying this file:
; You should not modify this file except to make bugfixes or
; for other "maintenance".  If you want to make custom changes,
; you should create a new datadir subdirectory and copy this file
; into that directory, and then modify that copy.  Then use the
; command "rulesetdir <mysubdir>" in the server to have freeciv
; use your new customized file.

[datafile]
description="Aviation technology data for Freeciv"
options="+Freeciv-ruleset-Devel-2017.Jan.02"
format_version=20

[control]
; Names for custom tech flags. There can be up to 8 of these.
; name          = rule name; In some circumstances user may see this
;                 as part of some sentences, so try to make it descriptive
;                 and sensible.
; helptxt       = displayed in the help for advances with this flag (optional)
;flags =
;  { "name", "helptxt"
;  }

; /* <-- avoid gettext warnings
;
; Below: The individual advances, one per section.
; The number can be variable, up to 196.
;
; The actual tag used (the * in [advance_*]) does not matter, except 
; it must be unique within this file, and it may be used in debug 
; output when reading this file.
;
; Notes:
;
; name          = translatable name as seen by user
; rule_name     = (optional) internal name for savegames, rulesets etc; if
;                 not present, "name" is used for this purpose too. Since
;                 the name used in savegames must not change, if you want
;                 to rename an item after a ruleset has been released, you
;                 should set "rule_name" to the original value of "name".
; req1, req2    = advances required before researching this one
; root_req      = tech required before acquiring this tech, by any means.
;                 All techs with any direct or indirect dependency on this
;                 one will *also* have this root_req, as well as their own
;                 and any others they inherit.
;                 Giving "None" explicitly here prevents a tech from
;                 inheriting root_reqs in this way, and stops root_req
;                 inheritance through that tech.
;                 Specifying a tech's root_req as itself means that the tech
;                 can only be acquired by special means (nation's init_techs,
;                 scripting, etc).
; flags         = special flag strings
; graphic       = icon for technology
; graphic_alt   = alternate icon
; helptext      = optional help text string (set units ruleset for examples)
; bonus_message = text seen when a player is the first to discover
;                 an bonus tech. Must contain '%s' to mark place of the tech
;                 gained.
; cost          = if tech_cost_style is set to "Classic+" or "Experimental+",
;                 this field is read for information on how much a tech
;                 costs.
;
; Special values for req1 and req2 are "None" (first section below) 
; and "Never" (never available).  If only one tech is required, 
; it should be listed as req1.
;
; As well as custom flags defined above, the following flag strings are
; possible:
;
; "Bonus_Tech" = player gets extra tech if reached first
; "Bridge"   = "Settler" unit types can build roads with "RequiresBridge" flag
;              over roads with "PreventsOtherRoads" flag (rivers)
; "Build_Airborne" = from now on can build air units (for use by AI)
; "Claim_Ocean"         = Player claims ocean tiles even if they are not
;                         adjacent to border source
; "Claim_Ocean_Limited" = Oceanic border sources claim ocean tiles even if
;                         they are not adjacent to border source
;
; */ <-- avoid gettext warnings

[advance_dirigible]
name     = _("Dirigible Balloons")
req1     = "None"
req2     = "None"
cost     = 45
flags    = ""
graphic     = "a.flight" ; it's actually a balloon
graphic_alt = "-"
helptext = _("Attaching an engine and rudder to a hydrogen balloon\
 yielded a controllable lighter-than-air craft. \
 Ferdinand Graf von Zeppelin, 1900.")

[advance_powered_flight]
name     = _("Powered Flight")
req1     = "None"
req2     = "None"
cost     = 40
flags    = "Build_Airborne"
graphic     = "a.powered_flight"
graphic_alt = "a.flight" ; placeholder
helptext = _("Though their first heavier-than-air machines could\
 carry no load beyond the pilot, aviation pioneers achieved the \
 dream of human flight. \
 Orville & Wilbur Wright, 1903.")

[advance_passenger_carrying]
name     = _("Passenger Carrying")
req1     = "Powered Flight"
req2     = "None"
cost     = 75
graphic     = "a.passenger_carrying"
graphic_alt = "a.flight" ; placeholder
helptext = _("More powerful engines enabled aircraft to carry\
 passengers and other small payloads. \
 Henri Farman, 1908.")

[advance_hydroaeroplane]
name     = _("Hydroaeroplane")
req1     = "Powered Flight"
req2     = "None"
cost     = 60
graphic     = "a.hydroaeroplane"
graphic_alt = "a.flight" ; placeholder
helptext = _("Mounting an aeroplane on floats allowed it to\
 take off and alight on water, instead of land. \
 Henri Fabre, 1910.")

[advance_practical_aviation]
name     = _("Practical Aviation")
req1     = "Passenger Carrying"
req2     = "None"
cost     = 90
graphic     = "a.practical_aviation"
graphic_alt = "a.flight" ; placeholder
helptext = _("The ability to carry a useful load, and fly in\
 imperfect weather conditions, made flying more than just a\
 stunt.  1912.")

[advance_practical_seaplanes]
name     = _("Practical Seaplanes")
req1     = "Hydroaeroplane"
req2     = "Practical Aviation"
cost     = 90
graphic     = "a.practical_seaplanes"
graphic_alt = "a.flight" ; placeholder
helptext = _("The first floatplanes were unreliable freaks. \
 Once they were developed to practicality, the world's navies\
 began to take an interest in the possibilities.  1912.")

[advance_aerial_weapons]
name     = _("Aerial Weapons")
req1     = "Practical Aviation"
req2     = "None"
cost     = 120
graphic     = "a.aerial_weapons"
graphic_alt = "a.flight" ; placeholder
helptext = _("Early attempts to arm aircraft, though generally\
 crude, opened a new chapter in warfare by making air-to-air\
 combat possible.  Designers experimented with a wide variety\
 of layouts in search of the perfect fighting formula.  1914.")

[advance_aircraft_industry]
name     = _("Aircraft Industry")
req1     = "Aerial Weapons"
req2     = "None"
cost     = 125
graphic     = "a.industrialization"
graphic_alt = "-"
helptext = _("As flight began to acquire military significance,\
 nations invested in industrialising aircraft production and\
 maintenance.  1914.")

[advance_military_seaplanes]
name     = _("Military Seaplanes")
req1     = "Practical Seaplanes"
req2     = "Aerial Weapons"
cost     = 128
graphic     = "a.military_seaplanes"
graphic_alt = "a.flight" ; placeholder
helptext = _("Naval thinkers saw in the seaplane a way to extend\
 the engagement range by carrying bombs.  1914.")

[advance_interrupter_gear]
name     = _("Interrupter Gear")
req1     = "Aerial Weapons"
req2     = "None"
cost     = 240
graphic     = "a.interrupter_gear"
graphic_alt = "a.flight" ; placeholder
helptext = _("Synchronising machine guns with the propeller's\
 rotation allowed aircraft to fire forwards without the unwieldy\
 complications of pusher designs.  1915.")

[advance_engines_1915]
name     = _("Engines 1915")
req1     = "Aerial Weapons"
req2     = "None"
cost     = 180
graphic     = "a.engines15"
graphic_alt = "a.flight" ; placeholder
helptext = _("Engine performance has always been the driving\
 factor behind aviation advancement.  Developing more powerful\
 engines unlocked new possibilities.")

[advance_bombers_1915]
name     = _("Bombers 1915")
req1     = "Engines 1915"
req2     = "None"
cost     = 144
graphic     = "a.bombers15"
graphic_alt = "a.flight" ; placeholder
helptext = _("Bombs dropped from landplanes added a new terror\
 to the trench battles of World War I.  The actual military\
 effectiveness of early bombing however was limited by the\
 small size of the bombs and the poor accuracy with which they\
 could be dropped.")

[advance_zeppelin]
name     = _("Zeppelin")
req1     = "Dirigible Balloons"
req2     = "Aerial Weapons"
cost     = 90
graphic     = "a.zeppelin"
graphic_alt = "a.flight" ; placeholder
helptext = _("With engine power enough to make headway even in\
 severe weather, rigid airships became the first long-range\
 bombers.  1914-17.")

[advance_effective_scouts]
name     = _("Effective Scouts")
req1     = "Interrupter Gear"
req2     = "Engines 1915"
cost     = 160
graphic     = "a.effective_scouts"
graphic_alt = "a.flight" ; placeholder
helptext = _("Two-seat fighter aircraft with both forward\
-firing and defensive machine guns found some success in the\
 air battles over the Front.  1915.")

[advance_effective_seaplanes]
name     = _("Effective Seaplanes")
req1     = "Military Seaplanes"
req2     = "Engines 1915"
cost     = 164
graphic     = "a.effective_seaplanes"
graphic_alt = "a.flight" ; placeholder
helptext = _("The development of air-droppable torpedoes\
 turned the floatplane into a viable threat to surface\
 ships.  1915.")

[advance_engines_1916]
name     = _("Engines 1916")
req1     = "Engines 1915"
req2     = "None"
cost     = 200
graphic     = "a.engines16"
graphic_alt = "a.flight" ; placeholder
helptext = _("The power and reliability of aero-engines\
 such as the Clerget air-cooled rotary continued to\
 increase.")

[advance_bombers_1916]
name     = _("Bombers 1916")
req1     = "Bombers 1915"
req2     = "Engines 1916"
cost     = 225
graphic     = "a.bombers16"
graphic_alt = "a.flight" ; placeholder
helptext = _("Large, multi-engined bombers with the ability\
 to deliver heavy loads made strategic airpower a reality.")

[advance_anti_air_artillery]
name     = _("Anti-Air Artillery")
req1     = "Bombers 1916"
req2     = "None"
cost     = 240
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Fearing the possible effects of heavy bombing,\
 nations converted artillery pieces into new weapons for\
 defense against air attack.")

[advance_early_blimp]
name     = _("Early Blimp")
req1     = "Dirigible Balloons"
req2     = "Engines 1916"
cost     = 72
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The non-rigid airship was developed for military\
 use as an inexpensive maritime reconnaissance platform.  1916.")

[advance_effective_airships]
name     = _("Effective Airships")
req1     = "Early Blimp"
req2     = "Zeppelin"
cost     = 156
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The combined efforts of the rigid and non-rigid\
 airship advocates led to more viable lighter-than-air craft. \
 1919.")

[advance_scouts_1916]
name     = _("Scouts 1916")
req1     = "Engines 1916"
req2     = "Effective Scouts"
cost     = 270
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("New design techniques for fighter aircraft made\
 the skies that much deadlier a place for everyone else.")

[advance_flying_boat]
name     = _("Flying Boat")
req1     = "Military Seaplanes"
req2     = "Engines 1916"
cost     = 200
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("With their large hulls, flying-boats represented\
 a more rugged approach to seaplane design, more suited to long-\
range bombers.  1916.")

[advance_triplanes]
name     = _("Triplanes")
req1     = "Engines 1916"
req2     = "Effective Scouts"
cost     = 160
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Taking the structural advantages of the biplane one\
 step further, triplane fighters proved highly agile, although\
 involving compromises in other areas.  Early 1917.")

[advance_engines_1917]
name     = _("Engines 1917")
req1     = "Engines 1916"
req2     = "Aircraft Industry"
cost     = 300
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Still more powerful aero-engines were developed by\
 the burgeoning aircraft industries of air-minded nations.")

[advance_bombers_1917]
name     = _("Bombers 1917")
req1     = "Bombers 1916"
req2     = "Engines 1917"
cost     = 440
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Biplane bombers increased in load-carrying ability,\
 posing a greater threat to enemies on land and sea.")

[advance_aircraft_carrier]
name     = _("Aircraft Carrier")
req1     = "Engines 1917"
req2     = "None"
cost     = 300
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("After early experiments demonstrated the practicability\
 of operating aeroplanes from the decks of ships, navies began to\
 convert vessels for use as aircraft carriers.  The carrier-borne\
 torpedo bomber posed a particular threat to surface ships.  1918.")

[advance_triplane_bombers]
name     = _("Triplane Bombers")
req1     = "Triplanes"
req2     = "Bombers 1915"
cost     = 180
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Some designers chose to apply the triplane principle\
 to the construction of bombers, allowing even greater size.  1917.")

[advance_scouts_1917]
name     = _("Scouts 1917")
req1     = "Scouts 1916"
req2     = "Engines 1917"
cost     = 400
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Ever-more-powerful engines (especially rotaries)\
 made the twin-gun biplane scout the defining image of World\
 War One in the air.")

[advance_seaplanes_1917]
name     = _("Seaplanes 1917")
req1     = "Effective Seaplanes"
req2     = "Engines 1917"
cost     = 250
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Floatplanes continued to increase in power and\
 load-carrying ability.")

[advance_practical_flying_boat]
name     = _("Practical Flying Boat")
req1     = "Flying Boat"
req2     = "Engines 1917"
cost     = 256
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The flying-boat developed into a useful maritime\
 patrol aircraft.  1918.")

[advance_streamlining]
name     = _("Streamlining")
req1     = "Scouts 1916"
req2     = "Aircraft Industry"
cost     = 280
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("New techniques for reducing drag allowed airspeeds\
 to rise.  1920.")

[advance_twenties_engines]
name     = _("Twenties Engines")
req1     = "Engines 1917"
req2     = "None"
cost     = 360
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Postwar engines were reliable enough that flight\
 began to lose its 'daredevil' image, and ordinary people took\
 seriously the idea of civilian air travel.")

[advance_twenties_airships]
name     = _("Twenties Airships")
req1     = "Effective Airships"
req2     = "Twenties Engines"
cost     = 240
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Lighter-than-air craft continued to improve, as\
 the future did not yet obviously belong to the aeroplane.")

[advance_mass_production]
name     = _("Mass Production")
req1     = "Aircraft Industry"
req2     = "Twenties Engines"
cost     = 320
graphic     = "a.mass_production"
graphic_alt = "-"
helptext = _("The mass-production methods developed in the car\
 industry began to be applied to the growing aviation sector. \
 1924.")

[advance_twenties_bombers]
name     = _("Twenties Bombers")
req1     = "Bombers 1917"
req2     = "Twenties Engines"
cost     = 475
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("As bomber designers absorbed the lessons of the\
 Great War, new concepts like the 'fighting' medium bomber and\
 carrier-capable dive bomber entered the lexicon.")

[advance_general_aviation]
name     = _("General Aviation")
req1     = "Twenties Engines"
req2     = "Streamlining"
cost     = 360
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The post-war barnstormers began to find economic\
 niches for small aircraft operated by small businesses.  1921.")

[advance_autogyro]
name     = _("Autogyro")
req1     = "General Aviation"
req2     = "None"
cost     = 180
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The earliest practical rotary-winged aircraft were\
 the gyrocopters developed by Juan de la Cierva from 1923."),
_("Increases the vision range of submersibles when surfaced, by\
 means of towed gyrokites (Bachstelze).")

[advance_twenties_carrier_aviation]
name     = _("Twenties Carrier Aviation")
req1     = "Aircraft Carrier"
req2     = "General Aviation"
cost     = 600
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Post-war aviation technology went to sea, giving\
 aircraft carriers a useful increase in capability.")

[advance_twenties_airlift]
name     = _("Twenties Airlift")
req1     = "Twenties Bombers"
req2     = "None"
cost     = 480
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Converted bombers were among the first\
 aeroplanes to ply the civil routes as entrepreneurs\
 brought the airline industry into existence."),
_("Transport aircraft are a valuable addition\
 to military logistics, allowing assault troops (and even\
 settlers) to be carried from one city or airbase to\
 another at high speed."),
_("Units of class Assault (that is, assault troops, \
 paratroops and settlers) are transportable, whereas Land\
 units (such as Troops) are not, owing to their heavy\
 equipment (tanks)."),
_("Also, airliners (which are technologically similar) are\
 needed for opening up trade routes (like Caravans in the\
 classic ruleset).")

[advance_parachute_dropping]
name     = _("Parachute Dropping")
req1     = "Twenties Airlift"
req2     = "None"
cost     = 640
graphic     = "a.combined_arms"
graphic_alt = "-"
helptext = _("Paratroopers can jump from transport aircraft\
 to quickly reach objectives and surprise the defenders."),
_("Unlike in the classic ruleset, paradropping is not an\
 action performed from cities; rather, paratroops can load\
 into a transport aircraft at a city or airbase and then,\
 once the transport reaches the desired Drop Zone, 'unload'\
 onto the ground below.")

[advance_glider_assault]
name     = _("Glider Assault")
req1     = "Twenties Airlift"
req2     = "None"
cost     = 640
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Gliders allow assault troops to be quickly\
 delivered into enemy territory.  The assault troops load\
 into the glider, which then 'loads' into a tug (a medium\
 or heavy bomber)."),
_("After the tug has towed the glider to the desired Drop\
 Zone, the glider 'unloads' from the tug, enabling the\
 assault troops to unload in turn from the glider."),
_("After use the glider cannot be moved, so you may as\
 well disband it to save the upkeep."),
_("Besides assault troops, gliders can also carry\
 paratroopers and settlers, as those are also\
 transportable units (class 'Assault').")

[advance_radio]
name     = _("Radio")
req1     = "Twenties Airlift"
req2     = "None"
cost     = 400
graphic     = "a.radio"
graphic_alt = "-"
helptext = _("Miniaturising radios sufficiently to routinely\
 carry them aboard aircraft increased the utility of both\
 devices.")

[advance_twenties_fighters]
name     = _("Twenties Fighters")
req1     = "Scouts 1917"
req2     = "General Aviation"
cost     = 500
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("In the immediate aftermath of the Great War, the\
 basic arrangement of fighter aircraft saw little change;\
 improvements mainly consisted of sturdier structures and more\
 reliable engines.  These did however distinctly improve the\
 effectiveness of similar ground-attack aircraft.")

[advance_seaplanes_1918]
name     = _("Seaplanes 1918")
req1     = "Seaplanes 1917"
req2     = "Practical Flying Boat"
cost     = 400
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Combining the experience of floatplane and flying-\
boat builders in areas such as hydrodynamic design laid the\
 foundations for ongoing seaplane development.")

[advance_twenties_seaplanes]
name     = _("Twenties Seaplanes")
req1     = "Seaplanes 1918"
req2     = "General Aviation"
cost     = 600
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The post-war floatplane and flying-boat were best\
 known to the public through air races such as the Schneider\
 Trophy, but they also had military and civil applications.")

[advance_aerodynamics_research]
name     = _("Aerodynamics Research")
req1     = "Streamlining"
req2     = "None"
cost     = 360
graphic     = "a.aerodynamics"
graphic_alt = "a.flight" ; placeholder
helptext = _("To push forward the frontiers of aviation, it was\
 no longer sufficient to rely solely on a designer's flair for\
 good 'shapes'; painstaking technical work with models in wind\
 tunnels enabled the development of better aerofoils, as well\
 as innovations such as slots, flaps, and Frise ailerons.")

[advance_engines_1930]
name     = _("Engines 1930")
req1     = "Twenties Engines"
req2     = "None"
cost     = 450
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Improvements in metallurgy and fuel chemistry\
 made engines able to survive higher compression ratios, and\
 experiments with supercharging showed a way to retain that\
 power in the thin air at high altitude.")

[advance_thirties_bombers]
name     = _("Thirties Bombers")
req1     = "Twenties Bombers"
req2     = "Engines 1930"
cost     = 760
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("A new generation of bombers, many of them monoplanes,\
 were faster and stronger than any before them.  The adage that 'the\
 bomber will always get through' entered the political lexicon, and\
 nations began to fear mutually assured destruction by bomber fleets\
 would be the inevitable consequence of any European war.")

[advance_thirties_carrier_aviation]
name     = _("Thirties Carrier Aviation")
req1     = "Twenties Carrier Aviation"
req2     = "Engines 1930"
cost     = 720
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The admirals were not left out of the progression of\
 aeronautics in the 1930s, as faster and more powerful aircraft were\
 developed to fly from carrier decks.")

[advance_thirties_airlift]
name     = _("Thirties Airlift")
req1     = "Twenties Airlift"
req2     = "Engines 1930"
cost     = 540
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Improvements to transport aircraft in the 1930s were\
 mostly in the field of reliability; but range and speed did continue\
 to creep up as well.")

[advance_high_speed]
name     = _("High Speed")
req1     = "Engines 1930"
req2     = "Aerodynamics Research"
cost     = 540
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Combining advances in engines and aerodynamics, the\
 'thirties saw aircraft speeds begin to rise rapidly.")

[advance_thirties_fighters]
name     = _("Thirties Fighters")
req1     = "Twenties Fighters"
req2     = "High Speed"
cost     = 800
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Speeds above 200mph were the last gasp of biplane\
 fighter development.  While the resulting aircraft were a marked\
 improvement, it was clear that something new would be needed.")

[advance_thirties_seaplanes]
name     = _("Thirties Seaplanes")
req1     = "Twenties Seaplanes"
req2     = "High Speed"
cost     = 750
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Large, long-range flying-boats and high-speed racing\
 floatplanes were the two poles of sea-plane development in the\
 early 30s.  Both were ultimately to pay military dividends.")

[advance_military_industrial_complex]
name     = _("Military-Industrial Complex")
req1     = "Mass Production"
req2     = "Thirties Bombers"
cost     = 640
graphic     = "a.machine_tools"
graphic_alt = "-"
helptext = _("As nations re-armed in preparation for the next great\
 war, armament firms grew large enough to wield considerable influence\
 on public policy.")

[advance_engines_1935]
name     = _("Engines 1935")
req1     = "Engines 1930"
req2     = "None"
cost     = 480
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Supercharging finally became a mature technology, enabling\
 aero-engines to develop over 1,000hp in a compact package and opening\
 the way to further improvements in aeroplanes of all types.")

[advance_large_monoplanes]
name     = _("Large Monoplanes")
req1     = "Engines 1935"
req2     = "Aerodynamics Research"
cost     = 480
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Improvements in structural know-how, such as stressed skin\
 and the geodetic system, allowed cantilever monoplane wings to replace\
 the braced biplane as the preferred design for large aircraft.")

[advance_seaplanes_1935]
name     = _("Seaplanes 1935")
req1     = "Thirties Seaplanes"
req2     = "Large Monoplanes"
cost     = 360
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The new military monoplanes of the 'thirties\
 inspired floatplane designers to take the same technologies\
 to sea.")

[advance_bombers_1935]
name     = _("Bombers 1935")
req1     = "Thirties Bombers"
req2     = "Large Monoplanes"
cost     = 1080
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The small and medium bombers developed in the late 'thirties\
 were to bear the brunt of the fighting in the opening phases of the Second\
 World War, from the tactical Blitzkrieg of the German Stukas on the front\
 lines to the strategic campaigns of medium bombers against industrial\
 centres.")

[advance_carrier_aviation_1935]
name     = _("Carrier Aviation 1935")
req1     = "Thirties Carrier Aviation"
req2     = "Engines 1935"
cost     = 960
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("When monoplane fighters and torpedo-bombers finally became\
 rugged enough for shipboard use, naval air forces around the world leapt\
 at the chance for an upgrade.")

[advance_r_d_f_]
name     = _("R.D.F.")
req1     = "Radio"
req2     = "Bombers 1935"
cost     = 720
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Radio Direction Finding, also known as radar (from RAdio\
 Detection And Ranging), is the technique of reflecting radio waves\
 off a distant object (such as an aeroplane) and observing it by the\
 returned signal.  Its development swung the pendulum in favour of\
 defence by allowing fighters to be 'scrambled' to face an air raid\
 before it arrived.")

[advance_electronics_1935]
name     = _("Electronics 1935")
req1     = "Radio"
req2     = "Anti-Air Artillery" ; doesn't make thematic sense, but needed further downstream
cost     = 600
graphic     = "a.electronics"
graphic_alt = "-"
; /* xgettext:no-c-format */
helptext = _("Very-high-frequency radio waves proved to have many other\
 uses besides radar, including the use of radio 'beams' for aircraft\
 navigation and blind bombing."), _("\
Increases bomber attack strength against cities by 20%.")

[advance_proximity_fuse]
name     = _("Proximity Fuse")
req1     = "R.D.F."
req2     = "Electronics 1935"
cost     = 1200
graphic     = "a.miniaturization"
graphic_alt = "-"
helptext = _("The VT (variable time) fuse for anti-aircraft shells\
 used capacitive coupling to detect nearby metal bodies.  In effect\
 it was a short-range radar, and greatly increased the accuracy of\
 heavy flak, which now only needed to aim in two dimensions rather\
 than three."), _("Increases effect of Flak Battery.")

[advance_airlift_1935]
name     = _("Airlift 1935")
req1     = "Thirties Airlift"
req2     = "Bombers 1935"
cost     = 900
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Early monoplane medium bombers, on becoming obsolete\
 in their original role, found a new lease of life as transport\
 aircraft, faster and longer-ranged than the wooden biplanes they\
 were replacing.")

[advance_fighters_1935]
name     = _("Fighters 1935")
req1     = "Thirties Fighters"
req2     = "Engines 1935"
cost     = 1080
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The fast cantilever monoplane formed the basis of the\
 new breed of fighters that entered service just before the Second\
 World War.  Designers experimented with powered turrets and even\
 long-range twin-engined 'heavy fighters'.")

[advance_heavy_flying_boat]
name     = _("Heavy Flying Boat")
req1     = "Thirties Seaplanes"
req2     = "Engines 1935"
cost     = 980
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The long range ocean-going flying boats of Imperial\
 Airways became the basis for the design of large maritime patrol\
 aircraft, vital to suppressing German submarines in the Battle of\
 the Atlantic.")

[advance_tracking_radar]
name     = _("Tracking Radar")
req1     = "R.D.F."
req2     = "None"
cost     = 900
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Ignore this tech; it's for a building that doesn't\
 work yet."), _("\
Beyond merely detecting approaching raids, advanced radars like\
 the German Wurzburg or the British PPI could be used to guide\
 friendly fighters to an interception.")

[advance_engines_1939]
name     = _("Engines 1939")
req1     = "Engines 1935"
req2     = "None"
cost     = 640
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Aircraft designers demanded ever more power, and\
 the engineers found ways to provide it.")

[advance_seaplanes_1940]
name     = _("Seaplanes 1940")
req1     = "Seaplanes 1935"
req2     = "Engines 1939"
cost     = 720
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Some navies attempted to keep the floatplane\
 fighter relevant by adapting their monoplanes to the role.")

[advance_helicopters]
name     = _("Helicopters")
req1     = "Engines 1939"
req2     = "Autogyro"
cost     = 720
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Power-to-weight ratios finally grew high enough to\
 allow vertical take-off with a useful, albeit small, payload. \
 These early helicopters found various, mostly naval, roles.")

[advance_bombers_1939]
name     = _("Bombers 1939")
req1     = "Bombers 1935"
req2     = "Engines 1939"
cost     = 1320
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("By scaling up monoplane bomber design to use four\
 1,000+ horsepower engines, new heavies were able to deliver\
 several tons of bombs over long ranges.")

[advance_higher_speed]
name     = _("Higher Speed")
req1     = "Engines 1939"
req2     = "Thirties Seaplanes"
cost     = 900
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("From when 200mph had seemed fast, it took a\
 surprisingly short time for even 300mph to begin sounding a\
 little slow.  Designing for these great speeds brought new\
 challenges.")

[advance_fighters_1939]
name     = _("Fighters 1939")
req1     = "Fighters 1935"
req2     = "Higher Speed"
cost     = 1200
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The advances built up over the decade at last paid\
 dividends in the design of fighter and attack aircraft.")

[advance_carrier_aviation_1940]
name     = _("Carrier Aviation 1940")
req1     = "Carrier Aviation 1935"
req2     = "Fighters 1939"
cost     = 1300
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Naval fighters and strike fighters shared in the new\
 technology of the high-performance monoplane, and strike aircraft\
 began to replace dive-bombers as the main way for carriers to\
 project power ashore.")

[advance_airborne_radar]
name     = _("Airborne Radar")
req1     = "Electronics 1935"
req2     = "R.D.F."
cost     = 1200
graphic     = "a.stealth"
graphic_alt = "-"
; /* xgettext:no-c-format */
helptext = _("Advances like the cavity magnetron allowed radar\
 equipment to be miniaturised enough to carry it aboard an aeroplane. \
 Night-fighters used this to find bombers, while terrain radars such \
 as the British 'H2S' helped guide the bombers to their targets."), _("\
Increases air-to-air attack strength by 20%.")

[advance_engines_1942]
name     = _("Engines 1942")
req1     = "Engines 1939"
req2     = "None"
cost     = 900
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Two-stage superchargers enabled even more power to be\
 squeezed out of engine designs, some of which eventually reached\
 double the horsepower of their pre-war prototypes.")

[advance_carrier_aviation_1942]
name     = _("Carrier Aviation 1942")
req1     = "Carrier Aviation 1940"
req2     = "Engines 1942"
cost     = 1500
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("More powerful naval aeroplanes continued to increase the\
 striking power of aircraft carriers.")

[advance_heavy_bombers]
name     = _("Heavy Bombers")
req1     = "Bombers 1939"
req2     = "Engines 1942"
cost     = 1500
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("With the benefit of wartime experience, Allied aircraft\
 designers were able to develop the great heavy bombers which, in RAF\
 Bomber Command and the US Eighth Army Air Force, flattened Germany\
 and destroyed her warmaking capability.")

[advance_heavy_gliders]
name     = _("Heavy Gliders")
req1     = "Glider Assault"
req2     = "Heavy Bombers"
cost     = 930
graphic     = "a.mobile_warfare"
graphic_alt = "-"
helptext = _("Larger, more capacious gliders could bring more troops\
 into action in airborne assaults.  In some cases they were even able\
 to bring small tanks!")

[advance_heavy_airlift]
name     = _("Heavy Airlift")
req1     = "Airlift 1935"
req2     = "Engines 1942"
cost     = 1080
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Transport aircraft were able to grow in size to support\
 the strategic movement and logistical support of large numbers of\
 troops over long distances.")

[advance_fighters_1942]
name     = _("Fighters 1942")
req1     = "Fighters 1939"
req2     = "Engines 1942"
cost     = 1450
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("High-performance cannon-armed fighters, in both single-\
 and twin-engined forms, made the skies increasingly dangerous for\
 everyone else.")

[advance_superprop_engines]
name     = _("Superprop Engines")
req1     = "Engines 1942"
req2     = "None"
cost     = 1100
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Bigger and heavier piston engines began to top 2,000hp\
 in the latter years of World War Two.")

[advance_nuclear_weapons]
name     = _("Nuclear Weapons")
req1     = "Heavy Bombers"
req2     = "Electronics 1935"
cost     = 2600
graphic     = "a.nuclear_fission"
graphic_alt = "-"
helptext = _("The ability to split the atom allowed for the creation\
 of nuclear explosives of unprecedented destructive power.")

[advance_bombers_1945]
name     = _("Bombers 1945")
req1     = "Heavy Bombers"
req2     = "Superprop Engines"
cost     = 1080
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The apogee of piston-engined bomber design produced\
 heavies that could range over an entire continent, and deliver payloads\
 up to and including the first nuclear bombs.")

[advance_fighters_1944]
name     = _("Fighters 1944")
req1     = "Fighters 1942"
req2     = "Superprop Engines"
cost     = 950
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Further increases in engine power gave so-called\
 'super-prop' fighters an edge over their adversaries, but ran\
 into Mach effects that meant the propellor-driven fighter was\
 reaching its limit.")

[advance_carrier_aviation_1945]
name     = _("Carrier Aviation 1945")
req1     = "Carrier Aviation 1942"
req2     = "Superprop Engines"
cost     = 1100
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Fighters and attackers with massive 2,000hp engines\
 were, with some difficulty, operated from carrier decks.")

[advance_gas_turbine]
name     = _("Gas Turbine")
req1     = "Engines 1942"
req2     = "Military-Industrial Complex"
cost     = 2200
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Frank Whittle's 'jet engine' promised to revolutionise\
 aircraft propulsion, but developing it to a practical level was no\
 easy task.")

[advance_turbo_helis]
name     = _("Turbine Helicopters")
req1     = "Helicopters"
req2     = "Gas Turbine"
cost     = 900
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Turboshaft engines, with their high power-to-weight\
 ratio, proved well-suited to driving the blades of a helicopter. \
 With these engines, helicopters were finally able to carry large\
 payloads, making the 'transport heli' a reality.")

[advance_jet_fighter_prototypes]
name     = _("Jet Fighter Prototypes")
req1     = "Fighters 1942"
req2     = "Gas Turbine"
cost     = 1350
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("While not without their downsides, the new jet engines\
 gave unmatched speed to the first fighters designed around them. \
 Designers experimented with different concepts to make the best \
 use of the new powerplant's capabilities.")

[advance_carrier_borne_jets]
name     = _("Carrier-borne Jets")
req1     = "Carrier Aviation 1942"
req2     = "Gas Turbine"
cost     = 1500
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("To keep naval aviation relevant in the jet age, it\
 was necessary to develop the techniques for operating jets from\
 aircraft carriers.")

[advance_rocketry]
name     = _("Rocketry")
req1     = "Gas Turbine"
req2     = "Higher Speed"
cost     = 1400
graphic     = "a.rocketry"
graphic_alt = "-"
helptext = _("Reaction engines burning solid or liquid fuels\
 had many uses, both military and civilian, but turning mere\
 fireworks into reliable, practical rocket engines took many\
 years of painstaking experimentation.")

[advance_space_flight]
name     = _("Space Flight")
req1     = "Rocketry"
req2     = "None"
cost     = 2100
graphic     = "a.space_flight"
graphic_alt = "-"
helptext = _("The sky was no longer the limit as men and machines\
 entered orbit around the globe.  1961.")

[advance_jet_bomber_prototypes]
name     = _("Jet Bomber Prototypes")
req1     = "Bombers 1939"
req2     = "Gas Turbine"
cost     = 1200
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Early jet engines' great thirst for fuel meant\
 they could not power strategic bombers, but tactical medium\
 bombers using the new technology were possible.")

[advance_engines_1949]
name     = _("Engines 1949")
req1     = "Gas Turbine"
req2     = "None"
cost     = 1000
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("As the underlying technology matured, jet engines\
 made great strides in performance and reliability.")

[advance_jet_flying_boat]
name     = _("Jet Flying Boat")
req1     = "Thirties Seaplanes"
req2     = "Engines 1949"
cost     = 1320
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The perhaps quixotic marriage of the jet engine\
 and flying boat was an attempt to keep seaplanes relevant in\
 the post-war era.")

[advance_bombers_1949]
name     = _("Bombers 1949")
req1     = "Jet Bomber Prototypes"
req2     = "Engines 1949"
cost     = 1250
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("With the lessons learned from operating the earliest\
 jets, a new generation of tactical bomber aircraft could be designed\
 that would remain in service for decades.")

[advance_swept_wing]
name     = _("Swept Wing")
req1     = "Aerodynamics Research"
req2     = "None"
cost     = 615
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The discovery that swept-back wings delayed the\
 onset of Mach effects, and moreover had better aeroelastic\
 characteristics when shock waves did form, promised to enable\
 jet aircraft to reach even greater speeds.")

[advance_early_missiles]
name     = _("Early Missiles")
req1     = "Rocketry"
req2     = "Airborne Radar"
cost     = 2050
graphic     = "-"
graphic_alt = "a.warrior_code" ; placeholder
helptext = _("With beam-riding or infra-red guidance, rocket-
propelled air-to-air missiles allowed fighters to engage from\
 outside gun range and with far more destructive firepower. \
 Similarly, guided air-to-ground weaponry meant precision \
 strikes could replace carpet bombing.")

[advance_transonic_speed]
name     = _("Transonic Speed")
req1     = "Engines 1949"
req2     = "Swept Wing"
cost     = 685
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("New design techniques such as the area rule\
 and all-flying tail helped to bring military aircraft\
 still closer to the speed of sound.")

[advance_second_generation]
name     = _("Second-Generation")
req1     = "Transonic Speed"
req2     = "Early Missiles"
cost     = 1800
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("All the ingredients could at last be combined to\
 create the missile-armed, transonic, second-generation combat\
 jet aircraft.  However, the new technologies were temperamental\
 and making them work together was not as simple as just hanging\
 missiles on the airframe.")

[advance_swept_wing_fighters]
name     = _("Swept-wing Fighters")
req1     = "Jet Fighter Prototypes"
req2     = "Second-Generation"
cost     = 2100
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Second-generation jet fighters and attackers were\
 enough of a leap in capability to make the early models\
 obsolete.")

[advance_carrier_aviation_1950]
name     = _("Carrier Aviation 1950")
req1     = "Carrier-borne Jets"
req2     = "Second-Generation"
cost     = 2700
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The demands of operating transonic aircraft, with\
 heavy electronics, brought new challenges for carrier admirals;\
 but the capabilities the new aircraft provided were more than\
 worth the trouble.")

[advance_swept_wing_bombers]
name     = _("Swept-wing Bombers")
req1     = "Bombers 1949"
req2     = "Swept Wing"
cost     = 2600
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Flying high and fast to escape fighter interception,\
 strategic bombers with turbojets and swept wings were designed to\
 carry the nuclear deterrent, but their combat service continued\
 to be with conventional bombs.")

[advance_thermonuclear_weapons]
name     = _("Thermonuclear Weapons")
req1     = "Nuclear Weapons"
req2     = "None"
cost     = 4000
graphic     = "a.nuclear_fission" ; placeholder
graphic_alt = "-"
helptext = _("Improvements in nuclear engineering such as the\
 Teller-Ulam thermonuclear device and the boosted-fission warhead\
 reduced the bottlenecks in production of fissile material for\
 nuclear weapons.")

[advance_fifties_engines]
name     = _("Fifties Engines")
req1     = "Engines 1949"
req2     = "None"
cost     = 1200
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Reheat (also known as afterburning) achieved thrusts\
 great enough for practical supersonic flight, while the fuel-\
efficient turboprop and turbofan were economical enough for use in\
 airliners and transports.")

[advance_supersonic_aerodynamics]
name     = _("Supersonic Aerodynamics")
req1     = "Swept Wing"
req2     = "None"
cost     = 900
graphic     = "a.iron_working"
graphic_alt = "-"
helptext = _("In the looking-glass world of supersonic flow,\
 several of the usual rules of aerodynamics are reversed.  It\
 took time for aeronautical designers to become used to the\
 new regime.")

[advance_light_fighter]
name     = _("Light Fighter")
req1     = "Swept-wing Fighters"
req2     = "Fifties Engines"
cost     = 1600
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("By careful design, it was possible to cram most of\
 the capabilities of a second-generation jet fighter into a much\
 smaller and lighter airframe, more easily maintained and\
 operated.")

[advance_supersonic_flight]
name     = _("Supersonic Flight")
req1     = "Fifties Engines"
req2     = "Supersonic Aerodynamics"
cost     = 960
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("With more powerful engines and better understanding\
 of the aerodynamics involved, flight beyond the speed of sound\
 could at last become a matter of routine.")

[advance_fifties_fighters]
name     = _("Fifties Fighters")
req1     = "Swept-wing Fighters"
req2     = "Supersonic Flight"
cost     = 2800
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The ability to 'go Mach' more than made up for the\
 loss of manoeuvrability in the first supersonic fighter and\
 attack aircraft.")

[advance_carrier_aviation_1957]
name     = _("Carrier Aviation 1957")
req1     = "Carrier Aviation 1950"
req2     = "Supersonic Flight"
cost     = 3000
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("By heroic efforts, aircraft designers were able to\
 combine carrier capability with supersonic speed in a single\
 airframe, without too severely compromising its capabilities as\
 a fighter.")

[advance_fifties_bombers]
name     = _("Fifties Bombers")
req1     = "Swept-wing Bombers"
req2     = "Fifties Engines"
cost     = 3200
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("A new generation of strategic jet bombers produced\
 some of the most iconic aircraft since the War.")

[advance_fifties_airlift]
name     = _("Fifties Airlift")
req1     = "Heavy Airlift"
req2     = "Fifties Engines"
cost     = 1320
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("With the more economical cruise of the turbofan\
 airliner, air travel became accessible to the common man."), _("\
Decreases one-time revenue from new trade routes.")

[advance_advanced_missiles]
name     = _("Advanced Missiles")
req1     = "Early Missiles"
req2     = "Supersonic Flight"
cost     = 1200
graphic     = "a.rocketry" ; placeholder
graphic_alt = "-"
helptext = _("Inertial guidance allowed long-range missiles for\
 strategic bombardment, while the range of surface-to-air missiles\
 was also increased by improved engines and aerodynamics.")

[advance_sixties_engines]
name     = _("Sixties Engines")
req1     = "Supersonic Flight"
req2     = "None"
cost     = 1800
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Refinements such as the two-spool jet engine\
 allowed the onward march of performance to continue.")

[advance_sixties_fighters]
name     = _("Sixties Fighters")
req1     = "Fifties Fighters"
req2     = "Sixties Engines"
cost     = 3200
graphic     = "a.advanced_flight"
graphic_alt = "-"
helptext = _("With more powerful engines, fighters could reach\
 Mach 2, while strike aircraft became able to hold their own\
 in air combat as well as attacking targets on land and sea.")

[advance_sixties_light_fighter]
name     = _("Sixties Light Fighter")
req1     = "Light Fighter"
req2     = "Sixties Engines"
cost     = 2400
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("The concept of the light fighter retained many\
 devotees into the supersonic era as, once again, an inexpensive\
 aircraft could match the best fighters of a few years earlier.")

[advance_vtol]
name     = _("VTOL")
req1     = "Carrier Aviation 1957"
req2     = "Sixties Engines"
cost     = 3600
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Vectored-thrust turbofans made Vertical Take-Off\
 and Landing a practical proposition.  VTOL strike fighters\
 proved to be highly versatile and served on carriers for four\
 decades.")

[advance_sixties_bombers]
name     = _("Sixties Bombers")
req1     = "Fifties Bombers"
req2     = "Sixties Engines"
cost     = 4000
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Great technical challenges had to be overcome in\
 order to develop heavy bombers that were supersonic by a large\
 margin.")

[advance_standoff_bombs]
name     = _("Stand-Off Bombs")
req1     = "Advanced Missiles"
req2     = "Thermonuclear Weapons"
cost     = 1600
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Rocket-propelled air-launched missiles with inertial\
 guidance enabled nuclear attacks to be launched from distances of\
 up to around 100 miles, keeping the carrier plane further from the\
 defences.")

[advance_sixties_airlift]
name     = _("Sixties Airlift")
req1     = "Fifties Airlift"
req2     = "Sixties Engines"
cost     = 1500
graphic     = "a.flight" ; placeholder
graphic_alt = "-"
helptext = _("Wide-body jetliners allowed greatly increased\
 passenger and cargo air traffic along trunk routes.")
